<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script">
		<!-- FILE UPLOAD HELPER -->
		<script>
			document.getElementById('file').onchange = function(evt) {
				readURL(this);
				document.getElementById('filename').textContent = this.value;
				document.getElementById('hidediv').style.display = 'block';
			};
			function readURL(input) {
				if (!input.files) {
					return;
				}
				if (!input.files[0]) {
					return;
				}
				if (input.files[0].size > 2097000) {
					alert("limit 2MB")
				}
				var reader = new FileReader();
				reader.onload = function(e) {
					$('#prev').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		</script>
		<!-- DATEPICKER -->
		<script th:src="@{/datepicker/js/bootstrap-datepicker.min.js}"
			charset="UTF-8" type="text/javascript"></script>
		<script th:src="@{/datepicker/locales/bootstrap-datepicker.pl.min.js}"
			charset="UTF-8" type="text/javascript"></script>
		<script
			th:src="@{/datepicker/locales/bootstrap-datepicker.en-GB.min.js}"
			charset="UTF-8" type="text/javascript"></script>
		<script th:src="@{/datepicker/locales/bootstrap-datepicker.it.min.js}"
			charset="UTF-8" type="text/javascript"></script>
		<script th:if="__${#locale}__ == 'pl'">
			$('#startDate').datepicker({
				autoclose : true,
				language : 'pl'
			});
			$('#endDate').datepicker({
				autoclose : true,
				language : 'pl'
			});
		</script>
		<script th:if="__${#locale}__ == 'en'">
			$('#startDate').datepicker({
				autoclose : true,
				language : 'en-GB'
			});
			$('#endDate').datepicker({
				autoclose : true,
				language : 'en-GB'
			});
		</script>
		<script th:if="__${#locale}__ == 'it'">
			$('#startDate').datepicker({
				autoclose : true,
				language : 'it'
			});
			$('#endDate').datepicker({
				autoclose : true,
				language : 'it'
			});
		</script>
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<h1 th:text="#{prodcomp.title}" class="text-primary"></h1>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{prodcomp.message}"> Welcome message </span>
			</div>
			<a th:href="@{'/'}" class="btn btn-link btn-sm"> <span
				class="glyphicon glyphicon-menu-left"></span> <span
				th:text="#{action.back}">back</span>
			</a>
		</div>
		<!-- UPLOAD LIST FORM -->
		<form th:action="@{'/upload/prodcomp'}" method="post"
			enctype="multipart/form-data">
			<div class="row">
				<!-- left -->
				<div class="col-xs-12">
					<h3 th:text="#{prodcomp.getcomponents}"
						class="text-primary margin-top-20"></h3>
					<span th:text="#{prodcomp.getcomponents.message}"></span>
				</div>
				<div class="col-xs-12 margin-top-10">
					<input type="file" id="file" name="file" style="display: none" />
					<label for="file" class="btn btn-info"> <span
						th:text="#{action.choose}"></span>
					</label>
					<button class="btn btn-primary" type="submit" name="upload"
						onclick="disableLong(this)"
						th:title="|#{general.warning.longtask} ~60-120s|"
						data-toggle="tooltip" data-placement="bottom">
						<span th:text="#{action.upload}">upload</span>
					</button>

					<div id="hidediv" style="display: none;" class="margin-top-20">
						<span id="filename" class="margin-top-10 text-muted">[file]</span>
					</div>
				</div>
			</div>
		</form>
		<!-- /UPLOAD LIST FORM -->
		<!-- COMPONENT FORM -->
		<form th:action="@{'/prodcomp/findchains'}" method="post"
			th:object="${formComponent}">
			<div class="row">
				<div class="col-xs-12">
					<h3 th:text="#{prodcomp.getchains}"
						class="text-primary margin-top-20"></h3>
					<span th:text="#{prodcomp.getchains.message}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-12 margin-top-10">
					<div class="form-group">
						<label for="component" th:text="#{prodcomp.component}">txt</label>
						<input type="text" class="form-control" id="component"
							name="component" th:placeholder="#{prodcomp.component}"
							th:field="*{component}" />
						<div th:errors="*{component}"
							class="alert alert-danger margin-top-5">error</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 margin-top-10">
					<span th:text="#{general.date.setrange}">set date range</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-xs-6 margin-top-10">
					<div class="form-group">
						<!-- start date -->
						<label for="startDate" th:text="#{general.date.start}">startDate</label>
						<input type="text" class="form-control" id="startDate"
							name="startDate" th:placeholder="#{general.date.start}"
							th:field="*{startDate}" autocomplete="off" />
						<div th:errors="*{startDate}"
							class="alert alert-danger margin-top-5">error</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 margin-top-10">
					<div class="form-group">
						<!-- end date -->
						<label for="endDate" th:text="#{general.date.end}">endDate</label>
						<input type="text" class="form-control" id="endDate"
							name="endDate" th:placeholder="#{general.date.end}"
							th:field="*{endDate}" autocomplete="off" />
						<div th:errors="*{endDate}"
							class="alert alert-danger margin-top-5">error</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 margin-top-10">
					<button class="btn btn-primary" type="submit" name="find"
						onclick="disableLong(this)"
						th:title="|#{general.warning.longtask} ~40-180s|"
						data-toggle="tooltip" data-placement="bottom">
						<span th:text="#{action.search}">upload</span>
					</button>
				</div>
			</div>
		</form>
		<!-- /COMPONENT FORM -->
	</div>
</body>
</html>