<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script">
		<!-- DATATABLES -->
		<script th:src="@{/datatables/jquery.dataTables.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/dataTables.helper.js}"
			type="text/javascript"></script>
		<script th:if="__${#locale}__ == 'pl'">
			$('#srv').DataTable({
				language : {
					url : getUrl() + "polish.json",
				},
				order : [ [ 0, 'asc' ] ]
			});
		</script>
		<script th:if="__${#locale}__ == 'en'">
			$('#srv').DataTable({
				language : {
					url : getUrl() + "english.json"
				},
				order : [ [ 0, 'asc' ] ]
			});
		</script>
		<script th:if="__${#locale}__ == 'it'">
			$('#srv').DataTable({
				language : {
					url : getUrl() + "italian.json"
				},
				order : [ [ 0, 'asc' ] ]
			});
		</script>
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<h1 th:text="#{downtimes.manage.causes}" class="text-primary"></h1>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="|#{downtimes.manage.causes.description}|">
					Welcome message </span>
			</div>
			<a th:href="|@{/industry/manage/dispatch}|"
				class="btn btn-link btn-sm"> <span
				class="glyphicon glyphicon-menu-left"></span> <span
				th:text="#{action.back}">back</span>
			</a>
		</div>

		<div class="underline margin-top-10"></div>

		<div class="row">
			<div class="col-xs-12">
				<h3 class="text-primary" th:text="#{downtimes.causes}">lbl</h3>
			</div>
			<div class="col-xs-12">
				<a th:href="@{/downtimes/manage/causes/add}"
					class="btn btn-info btn-sm"> <span
					class="glyphicon glyphicon-plus"></span> <span
					th:text="#{action.add}">back</span>
				</a>
			</div>
			<div class="col-xs-12 margin-top-30">
				<div class="table-responsive">
					<table id="srv" class="display">
						<thead>
							<tr>
								<th th:text="#{qsurveys.questions.order}">head</th>
								<th th:text="#{general.type}">head</th>
								<th th:text="#{general.text}">head</th>
								<th th:text="#{downtimes.responsible}">head</th>
								<th class="center">#id</th>
								<th th:text="#{general.active}" class="center">head</th>
								<th th:text="#{general.options}" class="center">head</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cause : ${downtimeCauses}">
								<td><span th:text="${cause.order}">txt</span></td>
								<td><span th:text="#{${cause.downtimeType.code}}"></span></td>
								<td><span th:text="${cause.text}"></span></td>
								<td><span th:text="${cause.responsibleUser.name}"></span></td>
								<td class="center"><span th:text="|#${cause.id}|"></span></td>
								<td class="center"><span th:text="${cause.active}"></span></td>
								<td class="center"><a
									th:href="|@{/downtimes/manage/causes/edit/}${cause.id}|"
									class="btn btn-info btn-sm"> <span
										class="glyphicon glyphicon-pencil"></span> <span
										th:text="#{action.edit}">back</span>
								</a> <a th:href="|@{/downtimes/manage/causes/delete/}${cause.id}|"
									th:onclick="|return confirm('#{action.remove}: &quot;${cause.shortText}&quot;?')|"
									class="btn btn-danger btn-sm"> <span
										class="glyphicon glyphicon-remove"></span> <span
										th:text="#{action.remove}">back</span>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</body>
</html>