<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/blank_with_libs">
<head lang="pl">

<style>
#capture {
	/* A4 150ppi */
	padding: 2%;
	border: 1px dotted black;
	height: 2480px;
	width: 3508px;
	font-size: 150%;
	border: 1px dotted black;
}

.category {
	font-weight: bold;
}

.entry {
	
}

.columnized {
	
	column-count: 4;
	column-gap: 40px;
	column-rule-style: solid;
	column-rule-width: 1px;
	/*https://www.w3schools.com/css/css3_multiple_columns.asp*/
	    -moz-column-fill: auto; /* Firefox */
    column-fill: balance;
}
</style>

</head>
<body>
	<div layout:fragment="script">
		<script th:src="@{/html2canvas/html2canvas.min.js}"
			type="text/javascript"></script>
		<script>
			function print() {
				html2canvas(document.getElementById('capture'))
						.then(
								function(canvas) {
									$('#result').append(canvas);
									$('#clicker').attr('href',
											canvas.toDataURL('image/png'));
									$('#clicker').attr('download',
											'TelefonyADRPolska}.png');
									document.getElementById('capture').style.display = "none";
									$('#clicker')[0].click();
								});
			}
			//print();
		</script>

	</div>
	<div layout:fragment="content">
		<!-- /HIDDEN -->
		<!-- clicker -->
		<a id="clicker" href="#"></a>
		<!-- image -->
		<div id="result"></div>
		<!-- /HIDDEN -->

		<!-- CAPTURE SECTION -->
		<div id="capture">
			<div class="columnized">
				<div th:if="${list}" class="margin-top-20">

					<div class="entry" th:each="entry : ${list}">
					<span th:text="${entry.number}"></span>
						<span th:text="${entry.name}"></span>
					</div>
					<div class="entry" th:each="entry : ${list}">
					<span th:text="${entry.number}"></span>
						<span th:text="${entry.name}"></span>
					</div>
					<div class="entry" th:each="entry : ${list}">
					<span th:text="${entry.number}"></span>
						<span th:text="${entry.name}"></span>
					</div>
					<div class="entry" th:each="entry : ${list}">
					<span th:text="${entry.number}"></span>
						<span th:text="${entry.name}"></span>
					</div>
					<div class="entry" th:each="entry : ${list}">
					<span th:text="${entry.number}"></span>
						<span th:text="${entry.name}"></span>
					</div>
					<div class="entry" th:each="entry : ${list}">
					<span th:text="${entry.number}"></span>
						<span th:text="${entry.name}"></span>
					</div>
					<div class="entry" th:each="entry : ${list}">
					<span th:text="${entry.number}"></span>
						<span th:text="${entry.name}"></span>
					</div>



				</div>
			</div>
		</div>
		<!-- /CAPTURE SECTION -->
	</div>
</body>
</html>