<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script"></div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<h1 th:text="#{qcheck.create.title}" class="text-primary"></h1>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{qcheck.create.message}"> Welcome message </span>
			</div>
		</div>
		<div class="underline margin-top-20"></div>
		<!-- CREATE FORM -->
		<form th:action="@{/qcheck/create}" method="post"
			th:object="${QCheckCreateForm}">
			<div class="row margin-top-20">
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<!-- name -->
						<label for="product" th:text="#{general.productCode}">product</label>
						<input type="text" class="form-control" id="product"
							name="product" th:placeholder="#{general.productCode}"
							th:field="*{productCode}" autocomplete="off" />
						<div th:errors="*{productCode}"
							class="alert alert-danger margin-top-5">error</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-9">
					<div class="form-group">
						<!-- comment -->
						<label for="contents" th:text="#{general.contents}"></label>
						<textarea class="form-control" id="contents" name="contents"
							th:placeholder="#{general.contents}"
							th:field="*{contents}" style="min-height: 200px;"></textarea>
						<div th:errors="*{contents}"
							class="alert alert-danger margin-top-5">error</div>
					</div>
				</div>
			</div>

			<div class="row margin-top-10">
				<div class="col-xs-12">
					<a th:href="@{/qcheck/list}" class="btn btn-link btn-sm"> <span
						class="glyphicon glyphicon-menu-left"></span> <span
						th:text="#{action.back}">back</span>
					</a>
					<button class="btn btn-primary btn-sm" type="submit" name="save">
						<span class="glyphicon glyphicon-ok"></span> <span
							th:text="#{action.save}">create</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>