<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initialscale=1, maximum-scale=1.0, user-scalable=no" />
	<link rel="icon" type="image/png"  th:href="@{/images/TinyADR.png}" />
	<link th:href="@{/selectize/css/selectize.bootstrap3.css}" type="text/css" rel="stylesheet" media="screen,projection" />	
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css" rel="stylesheet" media="screen,projection" />	
	<link th:href="@{/css/normalize.css}" type="text/css" rel="stylesheet" media="screen,projection" />
	<link th:href="@{/css/default.css}" type="text/css" rel="stylesheet" media="screen,projection" />
	<link th:href="@{/css/map.css}" type="text/css" rel="stylesheet" media="screen,projection" />
	<link th:href="@{/datatables/jquery.dataTables.min.css}" type="text/css" rel="stylesheet" media="screen,projection" />
	<link th:href="@{/datepicker/css/bootstrap-datepicker.min.css}" type="text/css" rel="stylesheet" media="screen,projection" />
	<title th:text="#{name.company}">ADR Polska S.A.</title>
</head>
<body>
	<!--=================================== NAVI =================================-->
	 <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
       <img class="logo pull-left" th:src="@{/images/TinyADR.png}" alt="ADR Polska S.A. logo"/>
          <a class="navbar-brand right" th:href="@{/}">
         <span th:text="#{name.company}"></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/}" th:text="#{navi.home}">Home Page</a></li>
            <li><a class="grey-text text-lighten-3" th:href="@{/contact}"
							th:text="#{navi.help}">Help</a></li>
            <li class="dropdown">
              <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="#{navi.profile}">Profile</span> <span class="caret"></span></a>
              <ul class="dropdown-menu">
               <!-- authenticated -->
               <li sec:authorize="isAuthenticated()"><a th:href="@{/users/showcurrent}">
				<span th:text="${#authentication.name}">Profile name</span>
				<img class="nav-img img-rounded" th:src="@{/currentavatar}" alt="profile picture" style="heihgt: 20px; width: 20px;"></img>
				</a>
               </li>
               <!-- <li sec:authorize="isAuthenticated()" role="separator" class="divider"> </li> -->
               <li sec:authorize="isAuthenticated()">
               	<a href="javascript: document.logoutForm.submit()">
               <span th:text="#{action.logout}">Log out</span></a>
               </li>
              	<!-- anonymous --> 
                <li sec:authorize="isAnonymous()">
               <a th:href="@{/login}">
               <span th:text="#{action.login}">Log in</span>
               </a>
               </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span th:text="#{navi.lang}">Lang</span>
              <span th:switch="__${#locale}__"> 
			  <span th:case="'pl'"><img style="margin-left: 5px;" th:src="@{/images/i18n/polish_flag.jpg}"/></span>
			  <span th:case="'en'"><img style="margin-left: 5px;" th:src="@{/images/i18n/english_flag.gif}" /></span>
			  <span th:case="'it'"><img style="margin-left: 5px;" th:src="@{/images/i18n/italian_flag.png}" /></span> 
			</span>
               <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="?lang=pl" ><span th:text="#{lang.polish}"></span><img class="nav-img" th:src="@{/images/i18n/polish_flag.jpg}" ></img></a></li>
                <li><a href="?lang=en" ><span th:text="#{lang.english}"></span><img class="nav-img" th:src="@{/images/i18n/english_flag.gif}"  style="position: absolute; right: 5px;"></img></a></li>
                <li><a href="?lang=it" ><span th:text="#{lang.italian}"></span><img class="nav-img" th:src="@{/images/i18n/italian_flag.png}" style="position: absolute; right: 5px;"></img></a></li>
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	<!--=================================== /NAVI =================================-->
	<!--=================================== CONTENT ===============================-->
	<div class="container blend">
	<!-- POPUPS -->
		<div class="row">
			<div class="col-xs-12 text-center">
				<!-- NO SCRIPT WARNING -->
				<noscript>
					<div id="errorMessage" class="alert alert-warning">
						<span th:text="#{error.javascript.not.enabled}">error</span>
					</div>
				</noscript>
				<!-- /NO SCRIPT WARNING -->
				<!-- LIVE FEED -->
				<div id="liveContainer">
					<div id="live" class="alert alert-info" th:if="${live}">
						<span th:text="${live}">error</span>
					</div>
				</div>
				<!-- /LIVE FEED -->
				<!-- ERROR -->
				<div id="errorMessage" class="alert alert-danger" th:if="${error}">
					<span th:text="${error}">error</span>
				</div>
				<!-- /ERROR -->
				<!-- MESSAGE -->
				<div class="alert alert-success alert-dismissable" th:if="${msg}">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<span th:text="${msg}">ok message</span>
				</div>
				<!-- /MESSAGE -->
			</div>
		</div>
		<!-- /POPUPS -->
				<section layout:fragment="content">
					<p>page content</p>
				</section>
				<!-- clear before footer -->
				<div class="row" style="min-height:1px; margin-bottom: 50px;"></div>
	</div>
	<!--=================================== /CONTENT ==============================-->
	<!--=================================== FOOTER  ===============================-->
	<footer class="footer">
      <div class="container">
        <p class="text-muted small-text"><small style="border-top: 1px solid #DEDEDE;">Krzysztof Michalak 2017 &copy; <span th:text="#{department.it}">IT Department</span>, <span th:text="#{name.company}">ADR Polska S.A.</span></small></p>
      </div>
    </footer>
    <!--=================================== /FOOTER  ==============================-->
	<!--=================================== SCRIPTS ===============================-->
	<!-- JQUERY -->
	<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
	<!-- BOOTSTRAP JS -->
	<script th:src="@{/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script th:src="@{/bootstrap/js/ie10-viewport-bug-workaround.js}" type="text/javascript"></script>
	<!-- TOOLTIP -->
    <script th:src="@{/js/tooltip.js}" type="text/javascript"></script>
	<!-- PREVENT DEFAULT -->
    <script th:src="@{/js/preventDefault.js}" type="text/javascript"></script>
	<!-- MESSAGING -->
	<script th:src="@{/js/messaging/sockjs.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/messaging/stomp.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/messaging/messaging.js}" type="text/javascript"></script>
	<!-- ALL SPECIFIC SCRIPTS FROM CHILD VIEWS -->
	<script type="text/javascript" layout:fragment="script">
	</script>
	<!-- LOGOUT HIDDEN FORM -->
	<!-- do href post logout -->
	<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
		<input type="submit" value="Sign Out" />
	</form>
	<!--=================================== /SCRIPTS ==============================-->
</body>
</html>