<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initialscale=1, maximum-scale=1.0, user-scalable=no" />
<link th:href="@{/webjars/materializecss/0.96.0/css/materialize.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<title>Hello Spring</title>
</head>
<body>

	<!-- NAVI -->
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<div class="row light-blue darken-1">
					<div class="col s1">
						<ul class="left">
							<li><a th:href="@{/}" class="waves-effect waves-light"><i
									class="mdi-action-home left"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
		</nav>
	</div>
	<!-- /NAVI -->
	<div class="container">
		<!--  CONTENT -->
		<div class="row">
			<div class="col s12">
				<section layout:fragment="content">
					<p>page content</p>
				</section>
			</div>
		</div>
	</div>
	<!--  /CONTENT -->
	<!--=================================== SCRIPTS ===============================-->
	<script th:src="@{/webjars/jquery/jquery.js}"></script>
	<script th:src="@{/webjars/materializecss/js/materialize.js}"></script>
	<script type="text/javascript" layout:fragment="script">
	</script>
	<!--=================================== /SCRIPTS ==============================-->
</body>
</html>