<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script">
		<script type="text/javascript" th:src="@{/js/detectIE.js}"></script>
		<script>
			if (detectIE() === false) {
				document.getElementById('filelink').style.display = 'none';
			} else {
				document.getElementById('filelink').style.display = 'inline';
			}
		</script>

	</div>
	<div layout:fragment="content">
		<div id="browser"></div>
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{nameplates.title}" class="text-primary">Hello on
					a page</h2>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-20">
				<span th:utext="#{nameplates.message}" class="flow-text ">
					Welcome message </span> <a style="margin-left: 5px; display: none;"
					id="filelink"
					href="file://///192.168.1.13/atwsystem/User_file/Produkcja/RF_ID/MIFARE_Ultralight_Log.txt"
					target="_blank"><span class="glyphicon glyphicon-folder-open"
					style="margin-right: 10px;"></span>Log RFID</a>

			</div>
		</div>

<!-- LITTLE NAVI -->
		<p class="pull-right">
			<a href="#correct" th:text="#{nameplates.correct.lines}"></a> | <a
				href="#error" th:text="#{nameplates.error.lines}"></a>
		</p>
<!-- /LITTLE NAVI -->		
		
		<div id="correct"></div>
		<div class="row margin-top-20">
			<div class="col-xs-12 col-xs-offset-0">
				<div class="table-responsive">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th th:text="#{nameplate.line.no}">1</th>
								<th th:text="#{nameplate.action.date}">17/02/2017 13:44:51</th>
								<th th:text="#{nameplate.action}">write</th>
								<th th:text="#{nameplate.rfid}">04 23 70 8A C6 48 80</th>
								<th th:text="#{nameplate.product}">TA15L1V1XCN003</th>
								<th th:text="#{nameplate.date}">27/02/2017 00:00:00</th>
								<th th:text="#{nameplate.flag}">False</th>
								<th th:text="#{nameplate.comment}">AD201700137/30 - CVA003</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="line : ${logLines}">
								<td><span th:text="${line.lineNo}">id</span></td>
								<td><span th:text="${line.actionDate}">id</span></td>
								<td><span th:text="${line.action}">id</span></td>
								<td><span th:text="${line.rfid}">id</span></td>
								<td><span th:text="${line.product}">id</span></td>
								<td><span th:text="${line.date}">id</span></td>
								<td><span th:text="${line.flag}">id</span></td>
								<td><span th:text="${line.comment}">id</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<!-- LITTLE NAVI -->
		<p class="pull-right">
			<a href="#correct" th:text="#{nameplates.correct.lines}"></a> | <a
				href="#error" th:text="#{nameplates.error.lines}"></a>
		</p>
		<!-- /LITTLE NAVI -->	

		<div id="error"></div>
				<div class="row margin-top-20">
			<div class="col-xs-12 col-xs-offset-0">
		<h3 th:text="#{nameplates.error.lines}" class="text-warning">error</h3>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th th:text="#{nameplate.line.no}">1</th>
					<th th:text="#{nameplates.error.lines}">1;1231;123123;asdasd;1d21d;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="line : ${errorLines}">
					<td><span th:text="${line.lineNo}">1</span></td>
					<td><span th:text="${line.line}">123123123;123123123;12312312312;</span></td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>
		<!-- LITTLE NAVI -->
		<p class="pull-right">
			<a href="#correct" th:text="#{nameplates.correct.lines}"></a> | <a
				href="#error" th:text="#{nameplates.error.lines}"></a>
		</p>
		<!-- /LITTLE NAVI -->
		
					<div class="row margin-top-30">
				<div class="col-xs-12">
					<a th:href="@{/}" class="btn btn-link btn-sm">
						<span class="glyphicon glyphicon-menu-left"></span> <span
						th:text="#{action.back}">back</span>
					</a> 
				</div>
			</div>
		
			
	</div>
</body>
</html>