<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="terminal/layout_terminal">
<head>
</head>
<body>
	<div layout:fragment="content">
		<h2 th:text="#{login.title}">txt</h2>
		<form th:action="@{/login}" method="post">
			<label th:text="#{login.username}">txt</label> <input type="text"
				id="username" name="username" th:placeholder="#{login.username}" />
			<label th:text="#{login.password}">Password</label> <input
				type="password" id="password" name="password"
				th:placeholder="#{login.password}" />

			<button type="submit" name="action"
				class="btn btn-primary pull-right">
				<span th:text="#{action.login}"></span>
			</button>
		</form>
	</div>

	<div layout:fragment="script">
		<script>
			$(document).on("keypress", 'form', function (e) {
			    var code = e.keyCode || e.which;
			    if (code == 13) {
			        e.preventDefault();
			        return false;
			    }
			});
	</script>
	</div>
</body>
</html>
