<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>

	<div layout:fragment="script">
		<script th:src="@{/datatables/jquery.dataTables.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/dataTables.helper.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/buttons.flash.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/buttons.html5.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/buttons.print.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/dataTables.buttons.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/jszip.min.js}" type="text/javascript"></script>
		<script th:src="@{/datatables/pdfmake.min.js}" type="text/javascript"></script>
		<script th:src="@{/datatables/vfs_fonts.js}" type="text/javascript"></script>
		<script th:if="__${#locale}__ == 'pl'">
			$('#srv').DataTable({
				language : {
					url : getUrl() + "polish.json",
				},
				order : [ [ 0, 'desc' ] ],
				dom : 'Bfrtipp',
				buttons : [ {
					extend : 'copy',
					text : 'Kopiuj do schowka'
				}, {
					extend : 'csv',
					text : 'CSV'
				}, {
					extend : 'excel',
					text : 'Excel'
				}, {
					extend : 'pdf',
					text : 'PDF'
				}, {
					extend : 'print',
					text : 'Drukuj'
				} ]
			});
		</script>
		<script th:if="__${#locale}__ == 'en'">
			$('#srv').DataTable({
				language : {
					url : getUrl() + "english.json"
				},
				order : [ [ 0, 'desc' ] ],
				dom : 'Bfrtipp',
				buttons : [ {
					extend : 'copy',
					text : 'Copy to clipboard'
				}, {
					extend : 'csv',
					text : 'CSV'
				}, {
					extend : 'excel',
					text : 'Excel'
				}, {
					extend : 'pdf',
					text : 'PDF'
				}, {
					extend : 'print',
					text : 'Print'
				} ]
			});
		</script>
		<script th:if="__${#locale}__ == 'it'">
			$('#srv').DataTable({
				language : {
					url : getUrl() + "italian.json"
				},
				order : [ [ 0, 'desc' ] ],
				dom : 'Bfrtipp',
				buttons : [ {
					extend : 'copy',
					text : 'Copia'
				}, {
					extend : 'csv',
					text : 'CSV'
				}, {
					extend : 'excel',
					text : 'Excel'
				}, {
					extend : 'pdf',
					text : 'PDF'
				}, {
					extend : 'print',
					text : 'Stampa'
				} ]
			});
		</script>
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{tools.title}" class="text-primary">Hello on a
					page</h2>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{tools.message}"> Welcome message </span>
			</div>
			<a th:href="@{/}" class="btn btn-link btn-sm"> <span
				class="glyphicon glyphicon-menu-left"></span> <span
				th:text="#{action.back}">back</span>
			</a>
		</div>
		<!-- CHOOSE ACTION MODULE -->
		<div class="row">
			<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
				<h3 class="text-primary" th:text="#{action.choose.action}">Panel
					With title</h3>
			</div>
			<div class="col-xs-12 margin-top-10">
				<!-- CREATE -->
				<a
					sec:authorize="hasAnyRole(
				'ROLE_ADMIN',  
				'ROLE_TOOLSMANAGER'
				)"
					class="btn btn-primary btn-md margin-top-5"
					th:href="@{/tools/createproject}"> <span
					class="glyphicon glyphicon-copy" style="margin-right: 10px;"></span>
					<span th:text="#{action.create}">begin</span>
				</a>
				<!-- ASSIGNED -->
				<a class="btn btn-info btn-md margin-top-5"
					th:href="@{/tools/dispatch}"> <span
					class="glyphicon glyphicon-pencil" style="margin-right: 10px;"></span>
					<span th:text="#{tools.projects.list.assigned}">begin</span>
				</a>
				<!-- PENDING -->
				<a
					sec:authorize="hasAnyRole(
				'ROLE_ADMIN',  
				'ROLE_TOOLSMANAGER'
				)"
					class="btn btn-warning btn-md margin-top-5"
					th:href="@{/tools/pendinglist}"> <span
					class="glyphicon glyphicon-time" style="margin-right: 10px;"></span>
					<span th:text="#{tools.projects.list.pending}">begin</span>
				</a>
				<!-- ACCEPTED -->
				<a class="btn btn-success btn-md margin-top-5"
					th:href="@{/tools/acceptedlist}"> <span
					class="glyphicon glyphicon-ok" style="margin-right: 10px;"></span>
					<span th:text="#{tools.projects.list.closed}">begin</span>
				</a>
				<!-- CANCELLED -->
				<a
					sec:authorize="hasAnyRole(
				'ROLE_ADMIN',  
				'ROLE_TOOLSMANAGER'
				)"
					class="btn btn-danger btn-md margin-top-5"
					th:href="@{/tools/cancelledlist}"> <span
					class="glyphicon glyphicon-remove" style="margin-right: 10px;"></span>
					<span th:text="#{tools.projects.list.cancelled}">begin</span>
				</a>
				<!-- NEW LINE -->
				<br/>
				<!-- FORWARDED OUTSIDE -->
				<a class="btn btn-info btn-md margin-top-5"
					th:href="@{/tools/fwoutsidelist}"> <span
					class="glyphicon glyphicon-fast-forward" style="margin-right: 10px;"></span>
					<span th:text="#{tools.projects.list.forwarded.outside}">begin</span>
				</a>				
				<!-- FORWARDED ADR -->
				<a class="btn btn-info btn-md margin-top-5"
					th:href="@{/tools/fwadrlist}"> <span
					class="glyphicon glyphicon-forward" style="margin-right: 10px;"></span>
					<span th:text="#{tools.projects.list.forwarded.adr}">begin</span>
				</a>
				<!-- IN PRODUCTION -->
				<a class="btn btn-warning btn-md margin-top-5"
					th:href="@{/tools/inproductionlist}"> <span
					class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></span>
					<span th:text="#{tools.projects.list.inproduction}">begin</span>
				</a>
				<!-- PRODUCED -->
				<a class="btn btn-success btn-md margin-top-5"
					th:href="@{/tools/producedlist}"> <span
					class="glyphicon glyphicon-ok" style="margin-right: 10px;"></span>
					<span th:text="#{tools.projects.list.produced}">begin</span>
				</a>
			</div>
		</div>
		<!-- /CHOOSE ACTION MODULE -->
		<!-- ASSIGNED TABLES -->
		<div th:if="${userProjectMap}">
			<div class="row">
				<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
					<h3 class="text-primary" th:text="#{tools.projects.list.assigned}">Panel
						With title</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="table-responsive margin-top-10">
						<table id="srv" class="display">
							<thead>
								<tr>
									<th th:text="|#id|"></th>
									<th th:text="#{general.image}"></th>
									<th th:text="#{general.priority}|"></th>
									<th th:text="#{tools.cech.old}"></th>
									<th th:text="#{tools.cech.new}"></th>
									<th th:text="#{tools.asset.code}"></th>
									<th th:text="#{general.client.code}"></th>
									<th th:text="#{general.state}"></th>
									<th th:text="#{general.date.lastupdate}"></th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th th:text="|#id|"></th>
									<th th:text="#{general.image}"></th>
									<th th:text="#{general.priority}|"></th>
									<th th:text="#{tools.cech.old}"></th>
									<th th:text="#{tools.cech.new}"></th>
									<th th:text="#{tools.asset.code}"></th>
									<th th:text="#{general.client.code}"></th>
									<th th:text="#{general.state}"></th>
									<th th:text="#{general.date.lastupdate}"></th>
								</tr>
							</tfoot>
							<tbody>
								<div th:each="key : ${userProjectMap.keySet()}">
									<tr>
										<td colspan="9" style="background-color: #F7F7F7;"><span
											th:text="${key}"></span></td>
									</tr>
									<tr th:each="project: ${userProjectMap.get(key)}">
										<td><a th:href="|@{/tools/showproject/}${project.id}|"><span
												th:text="|#${project.id}|"></span></a></td>
										<td><img
											th:src="|http://192.168.1.23/APACHE_IMG/tools/photo/${project.photoName}|"
											class="img-responsive img-rounded margin-top-10 thumb-100"
											style="border: 1px solid grey;"></img></td>
										<td><span th:text="${project.priority}"></span></td>
										<td><span th:text="${project.cechOld}"></span></td>
										<td><span th:text="${project.cechNew}"></span></td>
										<td><span th:text="${project.assetCode}"></span></td>
										<td><span th:text="${project.clientCode}"></span></td>
										<td><span th:text="${project.state.description}"></span></td>
										<td><span
											th:text="${#dates.format(project.updateDate, 'yyyy.MM.dd HH:mm')}"></span></td>
									</tr>
								</div>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /ASSIGNED TABLES -->
		<!-- WAITING/CLOSED TABLES -->
		<div th:if="${list}">
			<div class="row">
				<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
					<h3 class="text-primary" th:text="${listtitle}">Panel With
						title</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="table-responsive margin-top-10">
						<table id="srv" class="display nowrap">
							<thead>
								<tr>
									<th th:text="|#id|"></th>
									<th th:text="#{general.image}"></th>
									<th th:text="#{general.priority}|"></th>
									<th th:text="#{tools.cech.old}"></th>
									<th th:text="#{tools.cech.new}"></th>
									<th th:text="#{tools.asset.code}"></th>
									<th th:text="#{general.client.code}"></th>

									<th th:text="#{general.state}"></th>
									<th th:text="#{general.date.lastupdate}"></th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th th:text="|#id|"></th>
									<th th:text="#{general.image}"></th>
									<th th:text="#{general.priority}|"></th>
									<th th:text="#{tools.cech.old}"></th>
									<th th:text="#{tools.cech.new}"></th>
									<th th:text="#{tools.asset.code}"></th>
									<th th:text="#{general.client.code}"></th>
									<th th:text="#{general.state}"></th>
									<th th:text="#{general.date.lastupdate}"></th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="project: ${list}">
									<td><a th:href="|@{/tools/showproject/}${project.id}|"><span
											th:text="|#${project.id}|"></span></a></td>
									<td><img
										th:src="|http://192.168.1.23/APACHE_IMG/tools/photo/${project.photoName}|"
										class="img-responsive img-rounded margin-top-10 thumb-100"
										style="border: 1px solid grey;"></img></td>
									<td><span th:text="${project.priority}"></span></td>
									<td><span th:text="${project.cechOld}"></span></td>
									<td><span th:text="${project.cechNew}"></span></td>
									<td><span th:text="${project.assetCode}"></span></td>
									<td><span th:text="${project.clientCode}"></span></td>
									<td><span th:text="${project.state.description}"></span></td>
									<td><span
										th:text="${#dates.format(project.updateDate, 'yyyy.MM.dd HH:mm')}"></span></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /WAITING/CLOSED TABLES -->
	</div>
</body>
</html>