<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script"></div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<h1 th:text="#{tools.showproject.title}" class="text-primary"></h1>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{tools.showproject.message}"> Welcome message</span>
			</div>
			<a th:href="@{/tools/dispatch}" class="btn btn-link btn-sm"> <span
				class="glyphicon glyphicon-menu-left"></span> <span
				th:text="#{action.back}">back</span>
			</a>
		</div>
		<div class="underline margin-top-20"></div>
		<!-- FORM -->
		<form th:action="@{/tools/projectaction}" method="post"
			th:object="${project}">
			<input type="hidden" th:field="*{id}"></input>
			<div class="row margin-top-20">			
				<div class="col-xs-3 col-sm-2">
					<div class="form-group">
						<label for="id">#id</label> <span class="form-control" id="id"
							th:text="*{id}"></span>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="creator" th:text="#{general.creator}">lbl</label> <span
							class="form-control" id="creator"
							th:placeholder="#{general.creator}" th:text="*{creator.name}"></span>
					</div>
				</div>
				<div class="col-xs-3 col-sm-2">
					<div class="form-group">
						<label for="state" th:text="#{general.state}">lbl</label> <span
							class="form-control" id="state" th:placeholder="#{general.state}"
							th:text="*{state.description}"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="creationDate" th:text="#{general.date.creation}">lbl</label>
						<span class="form-control" id="creationDate"
							th:placeholder="#{general.date.creation}"
							th:text="${#dates.format(project.creationDate, 'yyyy.MM.dd HH:mm')}"></span>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="updateDate" th:text="#{general.date.lastupdate}">lbl</label>
						<span class="form-control" id="updateDate"
							th:placeholder="#{general.date.lastupdate}"
							th:text="${#dates.format(project.updateDate, 'yyyy.MM.dd HH:mm')}"></span>
					</div>
				</div>
			</div>
			<div class="underline margin-top-10 margin-bottom-5"></div>
			<div class="row">
			<div class="col-xs-12 col-xs-8">
										<img th:src="|http://192.168.1.23/APACHE_IMG/tools/photo/${project.photoName}|"
					class="img-responsive img-rounded margin-top-10 thumb-200"
					style="border: 1px solid grey;"></img>
			
			</div>
			</div>
			<div class="underline margin-top-10 margin-bottom-20"></div>
			<div class="row">
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<!-- name -->
						<label for="cechOld" th:text="#{tools.cech.old}">lbl</label> <input
							type="text" style="background-color: white;" class="form-control" id="cechOld" name="cechOld"
							th:placeholder="#{tools.cech.old}" th:field="*{cechOld}"
							readonly="true" autocomplete="off" />
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<!-- name -->
						<label for="cechNew" th:text="#{tools.cech.new}">lbl</label> <input
							type="text" style="background-color: white;" class="form-control" id="cechNew" name="cechNew"
							th:placeholder="#{tools.cech.new}" th:field="*{cechNew}"
							autocomplete="off" readonly="true" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-5 col-sm-3">
					<div class="form-group">
						<!-- name -->
						<label for="assetCode" th:text="#{tools.asset.code}">lbl</label> <input
							type="text" style="background-color: white;" class="form-control" id="assetCode" name="assetCode"
							th:placeholder="#{tools.asset.code}" th:field="*{assetCode}"
							autocomplete="off" readonly="true" />
					</div>
				</div>
				<div class="col-xs-7 col-sm-5">
					<div class="form-group">
						<!-- name -->
						<label for="assetName" th:text="#{tools.asset.name}">lbl</label> <input
							style="background-color: white;" type="text" class="form-control"
							id="assetName" name="assetName"
							th:placeholder="#{tools.asset.name}" th:field="*{assetName}"
							autocomplete="off" readonly="true" />
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-xs-5 col-sm-3">
					<div class="form-group">
						<!-- name -->
						<label for="clientCode" th:text="#{general.client.code}">lbl</label>
						<input type="text" style="background-color: white;" class="form-control" id="clientCode"
							name="clientCode" th:placeholder="#{general.client.code}"
							th:field="*{clientCode}" autocomplete="off" readonly="true" />

					</div>
				</div>
				<div class="col-xs-7 col-sm-5">
					<div class="form-group">
						<!-- name -->
						<label for="clientName" th:text="#{general.client.name}">lbl</label>
						<input style="background-color: white;" type="text"
							class="form-control" id="clientName" name="clientName"
							th:placeholder="#{general.client.name}" th:field="*{clientName}"
							autocomplete="off" readonly="true" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<div class="form-group">
						<!-- comment -->
						<label for="description" th:text="#{general.description}">comment</label>
						<textarea class="form-control" id="description" name="description"
							th:placeholder="#{general.description}" th:field="*{description}"
							style="min-height: 200px; background-color: white;" readonly="true"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-2">
					<div class="form-group">
						<label for="priority" th:text="#{general.priority}">lbl</label>
							<input id="priority" name="priority"
								th:placeholder="#{general.priority}" th:field="*{priority}"
								class="form-control" type="text" 
								 style="background-color: white;" readonly="true"></input>
						
					</div>
				</div>
				<div class="col-xs-9 col-sm-6">
					<div class="form-group">
						<label for="assignedUser" th:text="#{tools.assigneduser}">User</label>
						<input id="priority" name="priority"
							th:placeholder="#{tools.assigneduser}"
							th:field="*{assignedUser.name}" class="form-control" type="text"
							 style="background-color: white;"
							readonly="true"></input>
					</div>
				</div>
			</div>
			<div class="row margin-top-20">
				<div class="col-xs-12">
					<a th:href="@{/tools/dispatch}" class="btn btn-link btn-sm"> <span
						class="glyphicon glyphicon-menu-left"></span> <span
						th:text="#{action.back}">back</span>
					</a> 
					<a sec:authorize="hasAnyRole('ROLE_TOOLSMANAGER', 'ROLE_ADMIN')"
						th:if="(${project.state.order}  &lt; 50)"
						th:href="|@{/tools/editproject/}${project.id}|"
						class="btn btn-info btn-sm"> <span
						class="glyphicon glyphicon-pencil"></span> <span
						th:text="#{action.edit}">back</span>
					</a>
					 <button th:if="(${isAssigned} == true) and (${project.state.order}  == 20)"
					 			 class="btn btn-success btn-sm" type="submit" name="markAsDone" th:value="*{id}">
						<span class="glyphicon glyphicon-ok"></span> <span
							th:text="#{tools.markasdone}"></span>
					</button>
					 <button sec:authorize="hasAnyRole('ROLE_TOOLSMANAGER', 'ROLE_ADMIN')"
					 th:if="(${project.state.order}  &lt; 50) and (${project.state.order}  != 30)"
					 			 class="btn btn-warning btn-sm" type="submit" name="hold" th:value="*{id}">
						<span class="glyphicon glyphicon-warning-sign"></span> <span
							th:text="#{action.hold}"></span>
					</button>
					 <button sec:authorize="hasAnyRole('ROLE_TOOLSMANAGER', 'ROLE_ADMIN')"
					 th:if="(${project.state.order} &lt; 50)"
					 			 class="btn btn-danger btn-sm" type="submit" name="cancel" th:value="*{id}">
						<span class="glyphicon glyphicon-remove"></span> <span
							th:text="#{action.cancel}"></span>
					</button>
					 <button sec:authorize="hasAnyRole('ROLE_TOOLSMANAGER', 'ROLE_ADMIN')"
					 	th:if="(${project.state.order}  == 40)"
					 			 class="btn btn-success btn-sm" type="submit" name="approve" th:value="*{id}">
						<span class="glyphicon glyphicon-ok"></span> <span
							th:text="#{action.approve}"></span>
					</button>
					 <button th:if="(${isAssigned} == true) and (${project.state.order}  == 50)"
					 			 class="btn btn-primary btn-sm" type="submit" name="delegateadr" th:value="*{id}">
						<span class="glyphicon glyphicon-ok"></span> <span
							th:text="#{tools.delegateadr}"></span>
					</button>				
					 <button th:if="(${isAssigned} == true) and (${project.state.order}  == 50)"
					 			 class="btn btn-info btn-sm" type="submit" name="delegateoutside" th:value="*{id}">
						<span class="glyphicon glyphicon-ok"></span> <span
							th:text="#{tools.delegateoutside}"></span>
					</button>				
				</div>
			</div>

		</form>
		<!-- /FORM -->
	</div>
</body>
</html>