<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script">
		<!-- DATEPICKER -->
		<script th:src="@{/datepicker/js/bootstrap-datepicker.min.js}"
			charset="UTF-8" type="text/javascript"></script>
		<script th:src="@{/datepicker/locales/bootstrap-datepicker.pl.min.js}"
			charset="UTF-8" type="text/javascript"></script>
		<script
			th:src="@{/datepicker/locales/bootstrap-datepicker.en-GB.min.js}"
			charset="UTF-8" type="text/javascript"></script>
		<script th:src="@{/datepicker/locales/bootstrap-datepicker.it.min.js}"
			charset="UTF-8" type="text/javascript"></script>
		<script th:if="__${#locale}__ == 'pl'">
			$('#startDate').datepicker({
				autoclose : true,
				language : 'pl'
			});
			$('#endDate').datepicker({
				autoclose : true,
				language : 'pl'
			});
		</script>
		<script th:if="__${#locale}__ == 'en'">
			$('#startDate').datepicker({
				autoclose : true,
				language : 'en-GB'
			});
			$('#endDate').datepicker({
				autoclose : true,
				language : 'en-GB'
			});
		</script>
		<script th:if="__${#locale}__ == 'it'">
			$('#startDate').datepicker({
				autoclose : true,
				language : 'it'
			});
			$('#endDate').datepicker({
				autoclose : true,
				language : 'it'
			});
		</script>
		<!-- DATATABLES -->
		<script th:src="@{/datatables/jquery.dataTables.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/dataTables.helper.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/buttons.flash.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/buttons.html5.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/buttons.print.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/dataTables.buttons.min.js}"
			type="text/javascript"></script>	
		<script th:src="@{/datatables/jszip.min.js}" type="text/javascript"></script>
		<script th:src="@{/datatables/pdfmake.min.js}" type="text/javascript"></script>
		<script th:src="@{/datatables/vfs_fonts.js}" type="text/javascript"></script>		
		<!-- entries table -->
		<script th:if="__${#locale}__ == 'pl'">
			$('#srv').DataTable({
				language : {
					url : getUrl() + "polish.json",
				},
				order : [ [ 6, 'asc' ] ],
				paging: true,
				dom : 'Bfrtip',
				buttons : [
						{
							extend : 'excel',
							text : 'Excel'
						},
						{
							extend: 'pdfHtml5',
			                orientation: 'landscape'
						}
						]
			});
		</script>
		<script th:if="__${#locale}__ == 'en'">
			$('#srv').DataTable({
				language : {
					url : getUrl() + "english.json"
				},
				order : [ [ 6, 'asc' ] ],
				paging: true,
				dom : 'Bfrtip',
				buttons : [
						{
							extend : 'excel',
							text : 'Excel'
						},
						{
							extend: 'pdfHtml5',
			                orientation: 'landscape'
						}
						]
			});
		</script>
		<script th:if="__${#locale}__ == 'it'">
			$('#srv').DataTable({
				language : {
					url : getUrl() + "italian.json"
				},
				order : [ [ 6, 'asc' ] ],
				paging: true,
				dom : 'Bfrtip',
				buttons : [
						{
							extend : 'excel',
							text : 'Excel'
						},
						{
							extend: 'pdfHtml5',
			                orientation: 'landscape'
						}
						]
			});
		</script>
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{saleship.main.title}" class="text-primary">Hello
					on a page</h2>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{saleship.main.message}"> Welcome message </span>
			</div>
			<!-- BACK TO MAIN PAGE -->
			<a th:href="@{/}" class="btn btn-link btn-sm"> <span
				class="glyphicon glyphicon-menu-left"></span> <span
				th:text="#{action.back}">back</span>
			</a>
		</div>
		<div class="underline"></div>
		<!-- FORM -->
		<form th:action="@{/saleship/exec}" method="post"
			th:object="${saleShipForm}">
			<!-- DATES RANGE -->
			<div class="row margin-top-10">
				<div class="col-xs-12">
					<h3 class="text-primary" th:text="#{general.date.range}">Panel
						With title</h3>
				</div>
				<div class="col-xs-12 margin-top-10">
					<span th:text="#{general.date.setrange}">set date range</span>
				</div>
				<div class="col-xs-3 margin-top-10">
					<div class="form-group">
						<!-- start date -->
						<label for="startDate" th:text="#{general.date.start}">startDate</label>
						<input type="text" class="form-control" id="startDate"
							name="startDate" th:placeholder="#{general.date.start}"
							th:field="*{startDate}" autocomplete="off" />
						<div th:errors="*{startDate}"
							class="alert alert-danger margin-top-5">error</div>
					</div>
				</div>
				<div class="col-xs-3 margin-top-10">
					<div class="form-group">
						<!-- end date -->
						<label for="endDate" th:text="#{general.date.end}">endDate</label>
						<input type="text" class="form-control" id="endDate"
							name="endDate" th:placeholder="#{general.date.end}"
							th:field="*{endDate}" autocomplete="off" />
						<div th:errors="*{endDate}"
							class="alert alert-danger margin-top-5">error</div>
					</div>
				</div>
			</div>
			<!-- /DATES RANGE -->
			<div class="row margin-top-5">
				<div class="col-xs-12">
					<a th:href="@{/}" class="btn btn-link btn-sm"> <span
						class="glyphicon glyphicon-menu-left"></span> <span
						th:text="#{action.back}">back</span>
					</a>
					<button class="btn btn-primary btn-sm" type="submit" onclick="disableLong(this)"
						name="viewlist"
						data-toggle="tooltip" data-placement="bottom" th:title="#{general.warning.longtask}"
						>
						<span class="glyphicon glyphicon-search"></span> <span
							th:text="#{action.submit}">search</span>
					</button>
				</div>
			</div>
		</form>
		<!-- SHOW LIST -->
		<div th:if="${list}">
			<div class="row margin-top-10">
				<div class="col-xs-12">
					<h3 class="text-primary" th:text="#{general.list}">result</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="table-responsive">
						<table id="srv" class="display" style="font-size: 90%;">
							<thead>
								<tr>
									<th th:text="#{general.order.sales}">head</th>
									<th th:text="#{general.line}">head</th>
									<th th:text="#{saleship.demandState}">head</th>
									<th th:text="|#{general.order.production} / #{general.line}|">head</th>									
									<th th:text="#{general.client.code}">head</th>
									<th th:text="#{general.client.name}">head</th>
									<th th:text="#{general.country}">head</th>
									<th th:text="#{general.date.creation.short}">head</th>
									<th th:text="#{general.date.update.short}">head</th>
									<th th:text="#{general.demandedDate.short}">head</th>
									<th th:text="#{saleship.date.original}">head</th>
									<th th:text="#{general.productCode}">head</th>
									<th th:text="#{general.productDescription}">head</th>
									<th th:text="|Gr.1|">head</th>
									<th th:text="#{general.machine}">head</th>
									<th th:text="#{general.department}">head</th>
									<th th:text="|#{general.stock} Q|">head</th>
									<th th:text="#{department.production}">head</th>
									<th th:text="#{department.shipments}">head</th>
									<th th:text="#{saleship.lefttosend}">head</th>
									<th th:text="#{saleship.shipped}">head</th>
									<th th:text="#{saleship.togive}">head</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th th:text="#{general.order.sales}">head</th>
									<th th:text="#{general.line}">head</th>
									<th th:text="#{saleship.demandState}">head</th>
									<th th:text="|#{general.order.production} / #{general.line}|">head</th>									
									<th th:text="#{general.client.code}">head</th>
									<th th:text="#{general.client.name}">head</th>
									<th th:text="#{general.country}">head</th>
									<th th:text="#{general.date.creation.short}">head</th>								
									<th th:text="#{general.date.update.short}">head</th>									
									<th th:text="#{general.demandedDate.short}">head</th>
									<th th:text="#{saleship.date.original}">head</th>																		
									<th th:text="#{general.productCode}">head</th>
									<th th:text="#{general.productDescription}">head</th>
									<th th:text="|Gr.1|">head</th>
									<th th:text="#{general.machine}">head</th>
									<th th:text="#{general.department}">head</th>
									<th th:text="|#{general.stock} Q|">head</th>
									<th th:text="#{department.production}">head</th>
									<th th:text="#{department.shipments}">head</th>
									<th th:text="#{saleship.lefttosend}">head</th>
									<th th:text="#{saleship.shipped}">head</th>
									<th th:text="#{saleship.togive}">head</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="line : ${list}">
									<td><span th:text="${line.salesOrder}"></span></td>
									<td><span th:text="${line.salesOrderLine}"></span></td>
									<td><span th:text="#{${line.demandStateCode}}"></span></td>
									<td><span th:text="${line.productionOrderAndLine}"></span></td>
									<td><span th:text="${line.clientCode}"></span></td>
									<td><span th:text="${line.clientName}"></span></td>
									<td><span th:text="${line.country}"></span></td>
									<td><span th:text="${#dates.format(line.creationDate, 'yyyy.MM.dd')}"></span></td>
									<td><span th:if="${line.updateDate.after(#dates.create(1600,1,1))}"
									th:text="${#dates.format(line.updateDate, 'yyyy.MM.dd')}">
									</span></td>
									<td><span th:text="${#dates.format(line.demandedDate, 'yyyy.MM.dd')}"></span></td>
									<td><span th:if="${line.originalDate.after(#dates.create(1600,1,1))}"
									th:text="${#dates.format(line.originalDate, 'yyyy.MM.dd')}">
									</span></td>									
									<td><span th:text="${line.productCode}"></span></td>
									<td><span th:text="${line.productDescription}"></span></td>
									<td><span th:text="${line.productGr1}"></span></td>
									<td><span th:text="${line.machineCode}"></span></td>
									<td><span th:text="#{${line.departmentCode}}"></span></td>
									<td><span th:text="${line.stockQ}"></span></td>
									<td><span th:text="${line.stockProduction}"></span></td>
									<td><span th:text="${line.stockShipments}"></span></td>
									<td><span th:text="${line.quantityRemainingToShip}"></span></td>
									<td><span th:text="${line.quantityShipped}"></span></td>
									<td><span th:text="${line.quantityToGive}"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /SHOW LIST -->
	</div>
</body>
</html>