<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head>
</head>
<body>
	<div layout:fragment="script">

		<script th:src="@{/datatables/jquery.dataTables.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/dataTables.helper.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/buttons.flash.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/buttons.html5.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/buttons.print.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/dataTables.buttons.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/jszip.min.js}" type="text/javascript"></script>
		<script th:src="@{/datatables/pdfmake.min.js}" type="text/javascript"></script>
		<script th:src="@{/datatables/vfs_fonts.js}" type="text/javascript"></script>
		<script th:if="__${#locale}__ == 'pl'">
			var file = "polish.json";
		</script>
		<script th:if="__${#locale}__ == 'en'">
			var file = "english.json";
		</script>
		<script th:if="__${#locale}__ == 'it'">
			var file = "italian.json";
		</script>
		<script>
			$('#srv').DataTable({
				language : {
					url : getUrl() + file,
				},
				order : [ [ 0, 'asc' ] ],
				paging : false
			//,
			//dom : 'Bfrtip',
			//buttons : [ {
			//	extend : 'excel',
			//	text : 'Excel'
			//}, {
			//	extend : 'pdfHtml5',
			//	orientation : 'portrait'
			//} ]
			});
		</script>

	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{shipcust.managepending.title}" class="text-primary">Hello
					on a page</h2>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{shipcust.managepending.message}"> Welcome
					message </span>
			</div>
			<a th:href="|@{/shipcust/show/order/}${sh.id}|" class="btn btn-link btn-sm"> <span
				class="glyphicon glyphicon-menu-left"></span> <span
				th:text="#{action.back}">back</span>
			</a>
		</div>

		<!-- INFO -->
		<div class="row">
			<div class="col-xs-12">
				<!-- /MAIN INFO -->
				<div class="row">
					<div class="col-xs-12">
						<h3 th:text="|#{general.generalinfo}: #${sh.id}|"
							class="text-primary underline"></h3>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-md-6 col-xs-12">
						<div class="row">
							<div class="col-xs-4 col-md-3">
								<span th:text="#{general.creator}">param</span>
							</div>
							<div class="col-xs-6 col-md-9">
								<strong th:text="${sh.creator.name}" class="text-primary">value</strong>
							</div>
						</div>
						<div class="row margin-top-10">
							<div class="col-xs-4 col-md-3">
								<span th:text="#{general.date.creation}">param</span>
							</div>
							<div class="col-xs-6 col-md-9">
								<strong
									th:text="${#dates.format(sh.creationDate, 'yyyy-MM-dd HH:mm')}"
									class="text-primary">value</strong>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4 col-md-3">
								<span th:text="#{general.date.update}">param</span>
							</div>
							<div class="col-xs-6 col-md-9">
								<strong
									th:text="${#dates.format(sh.updateDate, 'yyyy-MM-dd HH:mm')}"
									class="text-primary">value</strong>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4 col-md-3">
								<span th:text="#{general.state}">param</span>
							</div>
							<div class="col-xs-6 col-md-9">
								<strong th:text="#{${sh.state.code}}" class="text-primary">value</strong>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4 col-md-3">
								<span th:text="#{general.date.close}">param</span>
							</div>
							<div class="col-xs-6 col-md-9">
								<strong th:if="${sh.closeDate}"
									th:text="${#dates.format(sh.closeDate, 'yyyy-MM-dd HH:mm')}"
									class="text-primary">value</strong> <strong
									th:if="!${sh.closeDate}" th:text="|-|" class="text-primary">value</strong>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="row">
							<div class="col-xs-4 col-md-3">
								<span th:text="#{general.client.code}">param</span>
							</div>
							<div class="col-xs-6 col-md-9">
								<strong th:text="${sh.clientCode}" class="text-primary">value</strong>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4 col-md-3">
								<span th:text="#{general.client.name}">param</span>
							</div>
							<div class="col-xs-6 col-md-9">
								<strong th:text="${sh.clientName}" class="text-primary">value</strong>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4 col-md-3">
								<span th:text="#{general.carrier}">param</span>
							</div>
							<div class="col-xs-6 col-md-9">
								<strong th:text="${sh.transport.name}" class="text-primary">value</strong>
							</div>
						</div>
						<div class="row margin-top-10">
							<div class="col-xs-4 col-md-3">
								<span th:text="#{shipcust.date.start}">param</span>
							</div>
							<div class="col-xs-6 col-md-9">
								<strong th:text="${#dates.format(sh.startDate, 'yyyy-MM-dd')}"
									class="text-primary">value</strong>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4 col-md-3">
								<span th:text="#{general.date.end}">param</span>
							</div>
							<div class="col-xs-6 col-md-9">
								<strong th:text="${#dates.format(sh.endDate, 'yyyy-MM-dd')}"
									class="text-primary">value</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="row margin-top-10"
					th:if="${#strings.length(sh.comment)>0}">
					<div class="col-xs-12">
						<strong><span class="text-primary"
							th:text="#{general.comment}">param</span> </strong>
					</div>
					<div class="col-xs-8 col-md-9 col-lg-10">
						<span th:text="${sh.comment}" style="font-style: italic;">param</span>
					</div>
				</div>
				<!-- /MAIN INFO -->
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h3 th:text="|#{shipcust.list.pending}|"
					class="text-primary underline"></h3>
			</div>
		</div>

		<div th:if="!${sh.notifiedByMail}"
			class="row margin-top-20 text-center">
			<div class="col-xs-12">
				<div id="warningMessage" class="alert alert-danger"
					style="margin-bottom: 10px;">
					<span th:utext="|#{shipcust.pleasenotify}|">error</span>
				</div>
			</div>
		</div>
		
				<div class="row margin-top-10">
			<div class="col-xs-12">
				<a	th:href="|@{/shipcust/ship/order/confirm/}${sh.id}|"
					class="btn btn-primary btn-sm"> <span
					class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;<span
					th:text="#{shipcust.mass.confirm}"></span>
				</a> 
				<a	th:href="|@{/shipcust/ship/order/cancel/}${sh.id}|"
					class="btn btn-danger btn-sm"> <span
					class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;<span
					th:text="#{shipcust.mass.cancel}"></span>
				</a>				
			</div>
		</div>
		
		<div class="row margin-top-20">
			<div class="col-xs-12 col-xs-offset-0">
				<div class="table-responsive">
					<table class="display" id="srv">
						<thead>
							<tr>
								<th><span th:text="#{general.line}"></span></th>
								<th><span th:text="#{general.state}"></span></th>
								<th><span th:text="#{general.productCode}"></span></th>
								<th><span th:text="#{general.order.sales}"></span></th>
								<th><span th:text="#{general.quantity}"></span></th>
								<th><span th:text="#{general.shipped}"></span></th>
								<th><span th:text="#{general.comment}"></span></th>
								<th><span th:text="#{shipcust.addition}"></span></th>
								<th><span th:text="#{shipcust.certificate}"></span></th>
								<th><span th:text="|#id|"></span></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="line,iter : ${lines}">
								<td><span th:text="${iter.index}+1"></span></td>
								<td><span th:if="${line.state.order} &lt; 10"
									class="glyphicon glyphicon-home"></span> <span
									th:if="${line.state.order} == 10 or ${line.state.order} == 20 or ${line.state.order} == 30"
									class="glyphicon glyphicon-time"></span> <span
									th:if="${line.state.order} &gt; 30 "
									class="glyphicon glyphicon-ok"></span> &nbsp; <span
									th:text="#{${line.state.code}}"></span></td>
								<td><span th:text="${line.productCode}"></span></td>
								<td><span th:text="${line.salesOrder}"></span></td>
								<td class="text-center"><span
									th:text="${line.quantityDemanded}"></span></td>
								<td class="text-center"><span
									th:text="${line.quantityShipped}"></span></td>
								<td class="text-center"><span
									th:if="${#strings.length(line.salesComment)>0}"
									class="glyphicon glyphicon-comment" data-toggle="tooltip"
									data-placement="top" th:title="${line.salesComment}"></span></td>
								<td class="text-center"><span
									th:class="${line.addition}==true? 'glyphicon glyphicon-ok' : ''"></span>
								</td>
								<td class="text-center"><span
									th:class="${line.certificate}==true? 'glyphicon glyphicon-ok' : ''"></span>
								</td>
								<td class="text-center"><span th:text="|#${line.id}|">id</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
