<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/url.helper.js}"></script>
		<script>
		 /*$(document).ready(function() {

	            $(".hoverButton").hover(
	               function (e) {
	            	  $("#imageAreaImage").attr("src", getAppUrl() + "/images/map/"+ e.target.id + ".png");
	               }, 
					
	               function (e) {
	            	   $("#imageAreaImage").attr("src", getAppUrl() + "/images/map/_main_map.png");
	            	 //  $("#imageArea").css({"background-color":"black"});
	               }
	            );
					
	         });
		 */
		 
		 function switchImg(id) {
			//$("#imageAreaImage").attr("src", getAppUrl() + "/images/map/"+ id + ".png");		
			$("#imageAreaImage").attr("src", "http://192.168.1.23/APACHE_IMG/storemap/"+ id + ".png");		
		};
		</script>
	</div>q
	
	<div layout:fragment="content">
	<!-- TITLE -->
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{geolook.map.title}" class="text-primary">Hello
					on a page</h2>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{geolook.map.message}"> Welcome message </span>
			</div>
				<a th:href="@{/industry/dispatch}" class="btn btn-link btn-sm"> <span
					class="glyphicon glyphicon-menu-left"></span> <span
					th:text="#{action.back}">back</span>
				</a>
				<div class="underline margin-top-10"></div>
		</div>
	<!-- /TITLE -->	
			<div id="mapModuleContainer">
				<div th:each="dir : ${directories}">
					<h4 th:text="${dir.key}">Category</h4>
					<span onclick="switchImg(this.id)" th:each="file: ${dir.value}" th:id="|${dir.key}/${file}|" 
						class="btn btn-primary btn-sm margin-bottom-5 hoverButton">
						<b><span th:text="${file}"></span></b>
					</span>	
				</div>
				<div id="imageArea" class="margin-top-30">
					<img id="imageAreaImage" src="http://192.168.1.23/APACHE_IMG/storemap/_main_map.png" />
					<!-- th:src="@{/images/map/_main_map.png}" /> -->
				</div>
			</div>
		</div>

	
</body>
</html>