<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script"></div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{geolook.title}" class="text-primary">Hello on a
					page</h2>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{geolook.message}"> Welcome message </span>
			</div>
		</div>
		<div class="underline margin-top-20"></div>
		<form th:action="@{/geolook/search}" method="post"
			th:object="${geodeSearchForm}">
			<div class="row margin-top-20">
				<div class="col-xs-4 col-sm-4">
					<div class="form-group">
						<label for="product" th:text="#{geolook.product}">Product</label>
						<input type="text" class="form-control" id="product"
							name="product" th:placeholder="#{geolook.product}"
							th:field="*{product}" />
						<div th:errors="*{product}"
							class="alert alert-danger margin-top-5">error</div>
					</div>
				</div>
			</div>
			<div class="row margin-top-5">
				<div class="col-xs-12">
					<a th:href="@{/}" class="btn btn-link btn-sm"> <span
						class="glyphicon glyphicon-menu-left"></span> <span
						th:text="#{action.back}">back</span>
					</a>
					<button class="btn btn-primary btn-sm" type="submit" name="search">
						<span class="glyphicon glyphicon-search"></span> <span
							th:text="#{action.search}">search</span>
					</button>
					<button class="btn btn-primary btn-sm" type="submit" name="csv">
						<span class="glyphicon glyphicon-download-alt"></span> <span
							th:text="#{geolook.downloadallascsv}">show all</span>
					</button>
				</div>
			</div>
		</form>

		<!-- if div -->
		<div th:if="${itemCode!=null}">
			<!-- PRODUCT CODE AND DESCRIPTION -->
			<div class="row margin-top-20"
				style="border-bottom: 1px solid #EFEFEF;">
				<div class="col-xs-12 col-xs-offset-0 margin-top-5">
					<h2 th:text="${itemCode}"></h2>
					<h4 th:text="${itemDescription}"></h4>
				</div>
			</div>
			<!-- NOTHING FOUND -->
			<div class="row margin-top-20" th:if="${#lists.isEmpty(geodeList)}">
				<div
					class="col-xs-12 col-xs-offset-0 alert alert-warning margin-top-5">
					<span th:text="#{geolook.product.not.found.in.store}"></span>
				</div>
			</div>
			<!-- LOCATIONS OF PRODUCT(S) -->
			<div class="row margin-top-20" th:if="${!#lists.isEmpty(geodeList)}">
				<div class="col-xs-12 col-xs-offset-0">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th th:text="#{geolook.code}">cell title</th>
									<th th:text="#{geolook.store}">cell title</th>
									<th th:text="#{geolook.address}">cell title</th>
									<th th:text="#{geolook.quantity}">cell title</th>
									<th th:text="#{geolook.unit}">cell title</th>
									<th th:text="#{geolook.input.date}">cell title</th>
									<th th:text="#{geolook.object}">cell title</th>

								</tr>
							</thead>
							<tr th:each="obj : ${geodeList}">
								<td style="padding: 5px;" th:text="${obj.product}"></td>
								<td style="padding: 5px;" th:text="${obj.store}"></td>
								<td style="padding: 5px;" th:text="${obj.address}"></td>
								<td style="padding: 5px;" th:text="${obj.quantity}"></td>
								<td style="padding: 5px;" th:text="${obj.unit}"></td>
								<td style="padding: 5px;"
									th:text="${#dates.format(obj.inputDate, 'dd.MM.yyyy')}"></td>
								<td style="padding: 5px;" th:text="${obj.object}"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /if div -->
	</div>
</body>
</html>