<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">

<style>
.red {
	color: #F50000;
}

.neutral {
	
}

.summary-cell {
	background: #F5F5F5;
	border-bottom: 1px solid #AAAAAA;
	padding: 10px 30px 10px 20px;
	font-size: 140%;
	font-weight: bold;
}
</style>

</head>
<body>
	<div layout:fragment="script">
		<!-- DATATABLES -->
		<script th:src="@{/datatables/jquery.dataTables.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/datatables/dataTables.helper.js}"
			type="text/javascript"></script>
		<script th:if="__${#locale}__ == 'pl'">
			$('#srv').DataTable({
				language : {
					url : getUrl() + "polish.json",
				},
				order : [ [ 0, 'asc' ] ],
				paging : false,
				info : false,
				searching : false
			});
			$('#srv2').DataTable({
				language : {
					url : getUrl() + "polish.json",
				},
				order : [ [ 0, 'asc' ] ],
				paging : false,
				info : false,
				searching : false
			});
		</script>
		<script th:if="__${#locale}__ == 'en'">
			$('#srv').DataTable({
				language : {
					url : getUrl() + "english.json"
				},
				order : [ [ 0, 'asc' ] ],
				paging : false,
				info : false
			});
			$('#srv2').DataTable({
				language : {
					url : getUrl() + "english.json"
				},
				order : [ [ 0, 'asc' ] ],
				paging : false,
				info : false
			});
		</script>
		<script th:if="__${#locale}__ == 'it'">
			$('#srv').DataTable({
				language : {
					url : getUrl() + "italian.json"
				},
				order : [ [ 0, 'asc' ] ],
				paging : false,
				info : false,
				searching : false
			});
			$('#srv2').DataTable({
				language : {
					url : getUrl() + "italian.json"
				},
				order : [ [ 0, 'asc' ] ],
				paging : false,
				info : false,
				searching : false
			});
		</script>
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<h1 th:text="|Zbiorczy podgląd wszystkich zamówień|"
					class="text-primary"></h1>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:utext="|Poniżej lista do zamówienia|"> Welcome
					message </span>
			</div>
			<a th:href="@{/cebs/order}" class="btn btn-link btn-sm"> <span
				class="glyphicon glyphicon-menu-left"></span> <span
				th:text="#{action.back}">back</span>
			</a>
		</div>


		<div th:if="!${active}">
			<h1 th:text="|Nikt nie zbiera ;(|" class="text-primary"></h1>
		</div>

		<div th:if="${active}">
			<h3 class="text-primary">Szczegóły</h3>
			<div class="underline margin-top-10"></div>

			<div class="row">
				<div class="col-xs-12">
					<div class="table-responsive">
						<table id="srv" class="display">
							<thead>
								<tr>
									<th th:text="|Kto|">head</th>
									<th style="text-align: center;" th:text="|Zapłacone|">head</th>
									<th th:text="|Co|">head</th>
									<th th:text="|Ile|">head</th>
									<th th:text="|Suma [PLN]|">head</th>
									<th th:text="|Uwagi|">head</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${items}"
									th:classappend="${item.paid} ? neutral : red">
									<td><span th:text="${item.user.name}">txt</span></td>
									<td><a th:href="|@{/cebs/manage/paid/}${item.id}|"
										style="text-align: center; display: block; width: 100%;">
											<span th:if="${item.paid}" class="glyphicon glyphicon-ok"></span>
											<span th:if="!${item.paid}"
											class="glyphicon glyphicon-remove"></span>

									</a></td>
									<td><span th:text="${item.item}"></span></td>
									<td><span th:text="${item.quantity}"></span></td>
									<td><span th:text="${item.amount}"></span></td>
									<td><span th:text="${item.comment}"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6 margin-top-10">
					<h3 class="text-primary">Podsumowanie</h3>
					<div class="underline margin-top-10"></div>
					<div class="table-responsive">
						<table id="srv2" class="display">
							<thead>
								<tr>
									<th th:text="|Co|">head</th>
									<th th:text="|Ile|">head</th>

								</tr>
							</thead>
							<tbody>
								<tr th:each="entry : ${summary}">
									<td><span th:text="${entry.key}">txt</span></td>
									<td><span th:text="${entry.value}">txt</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="underline margin-top-20"></div>
			<table class="margin-top-20">
				<tr class="text-primary">
					<td class="summary-cell">
						<span th:text="|Suma|"></span>
					</td>
					<td class="summary-cell"><span th:text="|${amount}|"> </span>
					</td>
				</tr>
				<tr class="text-success">
					<td class="summary-cell">
						<span th:text="|Zebrane|"></span>
					</td>
					<td class="summary-cell">
						<span th:text="|${paid}|"></span>
					</td>
				</tr>
				<tr class="text-danger">
					<td class="summary-cell">
						<span th:text="|Brakuje|"></span>
					</td>
					<td class="summary-cell">
						<span th:text="|${missing}|"></span>
					</td>
				</tr>
			</table>
			<div class="underline margin-top-20"></div>
		</div>
	</div>
</body>
</html>