<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>

	<div layout:fragment="script">
		<script th:src="@{/js/preventDefault.js}" type="text/javascript"></script>
		}

	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{consumption.dispatch.title}" class="text-primary">Hello
					on a page</h2>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{consumption.dispatch.message}"> Welcome
					message </span>
			</div>
			<!-- BACK TO MAIN PAGE -->
			<a th:href="@{/}" class="btn btn-link btn-sm"> <span
				class="glyphicon glyphicon-menu-left"></span> <span
				th:text="#{action.back}">back</span>
			</a>
		</div>
		<div class="underline"></div>
		<div class="row" style="displays: none;">
			<div class="col-xs-12">
				<h3 class="text-primary" th:text="#{action.choose.action}">Panel
					With title</h3>
			</div>
			<div class="col-xs-12 margin-top-10">
				<!-- th:onclick="|return confirm('#{general.areyousure}')|"-->
				<a class="btn btn-primary btn-md margin-top-5" id="cnsA"
					th:onclick="|return confirm('#{general.areyousure}')|"
					data-toggle="tooltip" data-placement="bottom"
					th:title="|#{general.time} ~ 20 s|"
					th:href="@{/consumption/exportConsumption/ATW}"> <span
					class="glyphicon glyphicon-save-file" style="margin-right: 10px;"></span>
					<span th:text="|#{consumption.export.consumption} ADR|">begin</span>
				</a> <a class="btn btn-info btn-md margin-top-5" id="cvrA"
					th:onclick="|return confirm('#{general.areyousure}')|"
					data-toggle="tooltip" data-placement="bottom"
					th:title="|#{general.time} ~ 4,5 min|"
					th:href="@{/consumption/exportCoverage}"> <span
					class="glyphicon glyphicon-save-file" style="margin-right: 10px;"></span>
					<span th:text="|#{consumption.export.coverage} ADR|">begin</span>
				</a> <a class="btn btn-warning btn-md margin-top-5" id="cnsB"
					th:onclick="|return confirm('#{general.areyousure}')|"
					data-toggle="tooltip" data-placement="bottom"
					th:title="|#{general.time} ~ 5 s|"
					th:href="@{/consumption/exportConsumption/WPS}"> <span
					class="glyphicon glyphicon-save-file" style="margin-right: 10px;"></span>
					<span th:text="|#{consumption.export.consumption} WPS|">begin</span>
				</a>
			</div>
		</div>
		<div class="underline margin-top-20"></div>
		<!-- BLOCK MESSAGE -->
		<div class="row">
			<div class="col-xs-12">
				<h3 class="text-primary" th:text="#{general.information}">Panel With title</h3>
			</div>
			<div class="col-xs-12 margin-top-10">
				<span th:utext="#{consumption.description}"></span>
			</div>
		</div>
	</div>
</body>
</html>
				<!-- 
				<ul>
					<li>Product code</li>
					<li>Product decription PL</li>
					<li>Product description EN</li>
					<li>Purchase family code</li>
					<li>Purchasing family name</li>
					<li>Reorder point</li>
					<li>Safety stock</li>
					<li>Max stock</li>
					<li>EWZ</li>
					<li>Technical lot</li>
					<li>Stock A</li>
					<li>Average cost</li>
					<li>Current demand</li>
					<li>Quantity in order</li>
					<li>Buyer</li>
					<li>Lead time</li>
					<li>Last issue date</li>
					<li>Last supplier</li>
					<li>Last supplier name</li>
					<li>Last supply date</li>
					<li>Usage by month in previous year (12 columns: I, II, III,
						IV... XII)</li>
					<li>Usage by month in current year (12 columns: I, II, III,
						IV... XII)</li>
					<li>Consumption in 1-st half of year -2</li>
					<li>Consumption in 2-nd half of year-2</li>
					<li>Consumption in year-1</li>
					<li>Total consumption in current year</li>

				</ul>
				 -->