<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script">
		<script th:src="@{/lightbox2/js/lightbox.min.js}"
			type="text/javascript"></script>
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<h1 th:text="#{proprog.view.title}" class="text-primary"></h1>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{proprog.view.message}"> Welcome message </span>
			</div>
			<a th:href="@{/proprog/list/}" class="btn btn-link btn-sm"> <span
				class="glyphicon glyphicon-menu-left"></span> <span
				th:text="#{action.back}">back</span>
			</a>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h1 th:text="#{proprog.view.projectdetails}"
					class="text-primary margin-top-30"></h1>
			</div>
			<div class="col-xs-12">

				<!-- GENERAL PANEL -->
				<div class="panel-group">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<span th:text="#{proprog.view.part.generalinfo}"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<label for="projectNumber" th:text="#{proprog.view.step.projectnumber}">x</label>
										<span class="form-control" id="projectnumber"
											th:text="${project.projectNumber}">y</span>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<label for="projectNumberDate" th:text="#{proprog.view.step.creationdate}">x</label>
										<span class="form-control" id="projectNumberDate"
											th:text="${#dates.format(project.projectCreationDate, 'yyyy.MM.dd HH:mm')}"></span>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="form-group">
										<label for="projectDescription"
											th:text="#{proprog.view.step.projectdescription}">x</label> <span
											class="form-control" id="projectDescription"
											th:text="${project.projectDescription}">y</span>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="progress">
										<div
											th:class="|progress-bar progress-bar-striped active progress-bar-${color}|"
											th:style="|width: ${progress}%|">
											<span th:text="|${progress}%|" id="progbar"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- / GENERAL PANEL -->

				<!-- SALES PANEL -->
				<div class="panel-group">
					<div class="panel"
						th:classappend="${project.clientAccept} and ${project.codification} ? panel-success : panel-danger">
						<div class="panel-heading">
							<span th:text="#{proprog.view.part.sales}"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<label th:text="#{proprog.view.step.clientaccept}">x</label> <span
											class="form-control"
											th:text="
												${project.clientAcceptDate != null 
												? #dates.format(project.clientAcceptDate, 'yyyy.MM.dd HH:mm') : #messages.msgOrNull('proprog.error.nodata')}">
										</span>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<label th:text="#{proprog.view.step.codification}">x</label> <span
											class="form-control"
											th:text="
												${project.codificationDate != null 
												? #dates.format(project.codificationDate, 'yyyy.MM.dd HH:mm') : #messages.msgOrNull('proprog.error.nodata')}">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /SALES PANEL -->

				<!-- DRAWINGS PANEL -->
				<div class="panel-group">
					<div class="panel"
						th:classappend="${project.drawingsVerified} ? panel-success : panel-danger">
						<div class="panel-heading">
							<span th:text="#{proprog.view.part.designeroffice}"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<label th:text="#{proprog.view.step.drawingsverified}">x</label> <span
											class="form-control"
											th:text="
												${project.drawingsVerifiedDate != null 
												? #dates.format(project.drawingsVerifiedDate, 'yyyy.MM.dd HH:mm') : #messages.msgOrNull('proprog.error.nodata')}">
										</span>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<label th:text="#{proprog.view.step.productcode}">x</label> <span
											class="form-control"
											th:text="${#strings.length(project.drawingsVerifiedCode) > 1 
												? project.drawingsVerifiedCode : #messages.msgOrNull('proprog.error.nodata')}">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /DRAWINGS PANEL -->

				<!-- SALES ORDER PANEL -->
				<div class="panel-group">
					<div class="panel"
						th:classappend="${project.salesOrder} ? panel-success : panel-danger">
						<div class="panel-heading">
							<span th:text="#{proprog.view.part.salesorder}"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<label th:text="#{proprog.view.step.salesorder}">x</label> <span
											class="form-control"
											th:text="
												${project.salesOrderDate != null 
												? #dates.format(project.salesOrderDate, 'yyyy.MM.dd HH:mm') : #messages.msgOrNull('proprog.error.nodata')}">
										</span>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<label th:text="#{proprog.view.step.salesorderquantity}">x</label> <span
											class="form-control"
											th:text="${project.salesOrderQuantity > 0 
												? project.salesOrderQuantity : #messages.msgOrNull('proprog.error.nodata')}">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /SALES ORDER PANEL -->

				<!-- PURCHASE PANEL -->
				<div class="panel-group">
					<div class="panel"
						th:classappend="${project.purchasePlan} and ${project.newPurchase} ? panel-success : panel-danger">
						<div class="panel-heading">
							<span th:text="#{proprog.view.part.supplychain}"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<label th:text="#{proprog.view.step.purchaseplan}">x</label> <span
											class="form-control"
											th:text="
												${project.purchasePlanDate != null 
												? #dates.format(project.purchasePlanDate, 'yyyy.MM.dd HH:mm') : #messages.msgOrNull('proprog.error.nodata')}">
										</span>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<label th:text="#{proprog.view.step.newpurchase}">x</label> <span
											class="form-control"
											th:text="
												${project.newPurchaseDate != null 
												? #dates.format(project.newPurchaseDate, 'yyyy.MM.dd HH:mm') : #messages.msgOrNull('proprog.error.nodata')}">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- PURCHASE PANEL -->

				<!-- TOOL PANEL -->
				<div class="panel-group">
					<div class="panel"
						th:classappend="
						((${project.toolDrawing} == 2 and ${project.toolCreation}) or (${project.toolDrawing} == 3))? panel-success : panel-danger">
						<div class="panel-heading">
							<span th:text="#{proprog.view.part.tool}"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-4">
									<div class="form-group">
										<label th:text="#{proprog.view.step.tooldrawing}">x</label>
										<span class="form-control" th:text="#{proprog.error.nodata}"
											th:if="${project.toolDrawing} &lt;= 1"> 
										</span> 
										<span class="form-control" th:text="#{proprog.view.step.tooldrawingready}"
											th:if="${project.toolDrawing} == 2">
										</span> 
										<span class="form-control" th:text="#{proprog.view.step.tooldrawingnotneeded}"
											th:if="${project.toolDrawing} == 3">
										</span>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group">
										<label th:text="#{proprog.view.step.tooldrawingdecision}">x</label> <span
											class="form-control"
											th:text="
												${project.toolDrawingDate != null 
												? #dates.format(project.toolDrawingDate, 'yyyy.MM.dd HH:mm') : #messages.msgOrNull('proprog.error.nodata')}">
										</span>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group">
										<label th:text="#{proprog.view.step.toolcreation}">x</label> <span
											class="form-control"
											th:text="
												${project.toolCreationDate != null 
												? #dates.format(project.toolCreationDate, 'yyyy.MM.dd HH:mm') : #messages.msgOrNull('proprog.error.nodata')}">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /TOOL PANEL -->

				<!-- EXECUTION PANEL -->
				<div class="panel-group">
					<div class="panel"
						th:classappend="${project.technology} and ${project.quality} ? panel-success : panel-danger">
						<div class="panel-heading">
							<span th:text="#{proprog.view.part.execution}"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<label th:text="#{proprog.view.step.technology}">x</label> <span
											class="form-control"
											th:text="
												${project.technologyDate != null 
												? #dates.format(project.technologyDate, 'yyyy.MM.dd HH:mm') : #messages.msgOrNull('proprog.error.nodata')}">
										</span>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<label th:text="#{proprog.view.step.quality}">x</label> <span
											class="form-control"
											th:text="
												${project.qualityDate != null 
												? #dates.format(project.qualityDate, 'yyyy.MM.dd HH:mm') : #messages.msgOrNull('proprog.error.nodata')}">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /EXECUTION PANEL -->

			</div>
		</div>
	</div>
</body>
</html>