<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script">
		<script th:src="@{/lightbox2/js/lightbox.min.js}"
			type="text/javascript"></script>
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<h1 th:text="#{proprog.view.title}" class="text-primary"></h1>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{proprog.view.message}"> Welcome message </span>
			</div>
			<a th:href="@{/proprog/list/}" class="btn btn-link btn-sm"> <span
				class="glyphicon glyphicon-menu-left"></span> <span
				th:text="#{action.back}">back</span>
			</a>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h1 th:text="#{proprog.projectdetails}"
					class="text-primary margin-top-30"></h1>
			</div>
			<div class="col-xs-12">
				<!-- PANEL -->
				<div class="panel-group">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<span th:text="#{proprog.part.generalinfo}"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-2">
									<div class="form-group">
										<label for="id">#id</label> <span class="form-control" id="id"
											th:text="|#${project.id}|">id</span>
									</div>
								</div>
								<div class="col-xs-3">
									<div class="form-group">
										<label for="projectNumber" th:text="#{proprog.projectnumber}">x</label>
										<span class="form-control" id="projectnumber"
											th:text="${project.projectNumber}">y</span>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group">
										<label for="creator" th:text="#{proprog.user.projectnumber}">x</label>
										<span class="form-control" id="creator"
											th:text="${project.projectNumberUser.name}">y</span>
									</div>
								</div>
								<div class="col-xs-3">
									<div class="form-group">
										<label for="projectNumberDate" th:text="#{proprog.date}">x</label>
										<span class="form-control" id="projectNumberDate"
											th:text="${#dates.format(project.projectNumberDate, 'yyyy.MM.dd HH:mm')}"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /PANEL -->
				<div class="progress">
					<div
						th:class="|progress-bar progress-bar-striped active progress-bar-${color}|"
						th:style="|width: ${progress}%|">
						<span th:text="|${progress}%|" id="progbar"></span>
					</div>
				</div>
				<!-- SALES PANEL -->
				<div class="panel-group">
					<div class="panel panel-info">
						<div class="panel-heading">
							<span th:text="#{proprog.part.sales}"></span>
						</div>
						<div class="panel-body">

							<div class="row">
								<!-- 1ST ROW -->
								<div class="col-xs-5">
									<div class="form-group">
										<label for="clientacceptuser"
											th:text="#{proprog.user.clientaccept}">x</label> <span
											th:if="${project.clientAcceptUser} != null"
											class="form-control" id="clientacceptuser"
											th:text="${project.clientAcceptUser.name}">y</span> <span
											th:if="${project.clientAcceptUser} == null"
											class="form-control" id="clientacceptuser"></span>
									</div>
								</div>
								<div class="col-xs-5">
									<div class="form-group">
										<label for="clientaccepdate" th:text="#{proprog.date}">x</label>
										<span th:if="${project.clientAcceptUser} != null"
											class="form-control" id="clientaccepdate"
											th:text="${#dates.format(project.clientAcceptDate, 'yyyy.MM.dd HH:mm')}"></span>
										<span th:if="${project.clientAcceptUser} == null"
											class="form-control" id="clientaccepdate"></span>
									</div>
								</div>
								<!-- BUTTON COLUMN -->
								<div class="col-xs-2">
									<div th:if="${project.clientAcceptUser} == null">
										<div id="authorizedOnly"
											sec:authorize="hasAnyRole('ROLE_PROPROG_SALES', 'ROLE_ADMIN')">
											<form th:action="@{/proprog/confirm}" method="post">
												<label th:text="#{action.confirm}">x</label> <br />
												<button class="btn btn-primary btn-sm" type="submit"
													name="clientAccept" th:value="${project.id}">
													<span class="glyphicon glyphicon-ok"></span> <span
														th:text="#{action.confirm}">create</span>
												</button>
											</form>
										</div>
									</div>
								</div>
								<!-- /BUTTON COLUMN -->
								<!-- /1ST ROW -->
							</div>
							<div class="row">
								<!-- /2ND ROW -->
								<div class="col-xs-5">
									<div class="form-group">
										<label for="codificationuser"
											th:text="#{proprog.user.codification}">x</label> <span
											th:if="${project.codificationUser} != null"
											class="form-control" id="codificationuser"
											th:text="${project.codificationUser.name}">y</span> <span
											th:if="${project.codificationUser} == null"
											class="form-control" id="codificationuser"></span>
									</div>
								</div>
								<div class="col-xs-5">
									<div class="form-group">
										<label for="codificationDate" th:text="#{proprog.date}">x</label>
										<span th:if="${project.codificationUser} != null"
											class="form-control" id="codificationDate"
											th:text="${#dates.format(project.codificationDate, 'yyyy.MM.dd HH:mm')}"></span>
										<span th:if="${project.codificationUser} == null"
											class="form-control" id="codificationDate"></span>
									</div>
								</div>
								<!-- BUTTON COLUMN -->
								<div class="col-xs-2">
									<div th:if="${project.codificationUser} == null">
										<div id="authorizedOnly"
											sec:authorize="hasAnyRole('ROLE_PROPROG_SALES', 'ROLE_ADMIN')">
											<form th:action="@{/proprog/confirm}" method="post">
												<label th:text="#{action.confirm}">x</label> <br />
												<button class="btn btn-primary btn-sm" type="submit"
													name="codification" th:value="${project.id}">
													<span class="glyphicon glyphicon-ok"></span> <span
														th:text="#{action.confirm}">create</span>
												</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- /2ND ROW -->
							<!-- /BUTTON COLUMN -->
						</div>
					</div>
				</div>
				<!-- /SALES PANEL -->
				<!-- DRAWING PANEL -->
				<div class="panel-group">
					<div class="panel panel-info">
						<div class="panel-heading">
							<span th:text="#{proprog.part.designeroffice}"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<!-- 1ST ROW -->
								<div class="col-xs-5">
									<div class="form-group">
										<label for="drawingValidationUser"
											th:text="#{proprog.user.drawingvalidation}">x</label> <span
											th:if="${project.drawingValidationUser} != null"
											class="form-control" id="drawingValidationUser"
											th:text="${project.drawingValidationUser.name}">y</span> <span
											th:if="${project.drawingValidationUser} == null"
											class="form-control" id="drawingValidationUser"></span>
									</div>
								</div>
								<div class="col-xs-5">
									<div class="form-group">
										<label for="drawingValidationDate" th:text="#{proprog.date}">x</label>
										<span th:if="${project.drawingValidationUser} != null"
											class="form-control" id="drawingValidationDate"
											th:text="${#dates.format(project.drawingValidationDate, 'yyyy.MM.dd HH:mm')}"></span>
										<span th:if="${project.drawingValidationUser} == null"
											class="form-control" id="drawingValidationDate"></span>
									</div>
								</div>
								<!-- /1ST ROW -->
							</div>
							<div class="row" th:if="${project.drawingValidationUser} == null">
								<!-- /2ND ROW -->
								<form th:action="@{/proprog/confirm}"
									th:object="${drawingNumberForm}" method="post">
									<div id="authorizedOnly"
										sec:authorize="hasAnyRole('ROLE_PROPROG_DRAWINGVALIDATION', 'ROLE_ADMIN')">
										<input type="hidden" th:field="${project.id}"></input>
										<div class="col-xs-5">
											<div class="form-group">
												<label for="drawingNumber"
													th:text="#{proprog.drawingnumber}">Title</label> <input
													type="text" class="form-control" id="drawingNumber"
													name="drawingNumber"
													th:placeholder="#{proprog.drawingnumber}"
													th:field="*{drawingNumber}" />
												<div th:errors="*{drawingNumber}"
													class="alert alert-danger margin-top-5">error</div>
											</div>
										</div>
										<div class="col-xs-5"></div>
										<div class="col-xs-2">
											<label th:text="#{action.confirm}">x</label> <br />
											<button class="btn btn-primary btn-sm" type="submit"
												name="drawingValidation">
												<span class="glyphicon glyphicon-ok"></span> <span
													th:text="#{action.confirm}">create</span>
											</button>
										</div>

									</div>
								</form>
							</div>
							<div class="row" th:if="${project.drawingValidationUser} != null">
								<div class="col-xs-5">
									<div class="form-group">
										<label for="drawingNumber" th:text="#{proprog.drawingnumber}">x</label>
										<span class="form-control" id="drawingNumber"
											th:text="${project.drawingNumber}">y</span>
									</div>
								</div>
							</div>
							<!-- /2ND ROW -->
						</div>
					</div>
				</div>
				<!-- /DRAWING PANEL -->



				<!-- SALES ORDER PANEL -->
				<div class="panel-group">
					<div class="panel panel-info">
						<div class="panel-heading">
							<span th:text="#{proprog.part.salesorder}"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<!-- 1ST ROW -->
								<div class="col-xs-5">
									<div class="form-group">
										<label for="orderInputUser"
											th:text="#{proprog.user.orderinput}">x</label> <span
											th:if="${project.orderInputUser} != null"
											class="form-control" id="orderInputUser"
											th:text="${project.orderInputUser.name}">y</span> <span
											th:if="${project.orderInputUser} == null"
											class="form-control" id="orderInputUser"></span>
									</div>
								</div>
								<div class="col-xs-5">
									<div class="form-group">
										<label for="orderInputDate" th:text="#{proprog.date}">x</label>
										<span th:if="${project.orderInputUser} != null"
											class="form-control" id="orderInputDate"
											th:text="${#dates.format(project.orderInputDate, 'yyyy.MM.dd HH:mm')}"></span>
										<span th:if="${project.orderInputUser} == null"
											class="form-control" id="orderInputDate"></span>
									</div>
								</div>
								<!-- /1ST ROW -->
							</div>
							<div class="row" th:if="${project.orderInputDate} == null">
								<!-- /2ND ROW -->
								<form th:action="@{/proprog/confirm}"
									th:object="${orderForm}" method="post">
									<div id="authorizedOnly"
										sec:authorize="hasAnyRole('ROLE_PROPROG_SALESORDER', 'ROLE_ADMIN')">
										<input type="hidden" th:field="${project.id}"></input>
										<div class="col-xs-5">
											<div class="form-group">
												<label for="ordernumber"
													th:text="#{proprog.orderNumber}">Title</label> <input
													type="text" class="form-control" id="orderNumber"
													name="orderNumber"
													th:placeholder="#{proprog.ordernumber}"
													th:field="*{orderNumber}" />
												<div th:errors="*{orderNumber}"
													class="alert alert-danger margin-top-5">error</div>
											</div>
										</div>
										<div class="col-xs-5">
											<div class="form-group">
												<label for="orderQuantity"
													th:text="#{proprog.orderquantity}">Title</label> <input
													type="text" class="form-control" id="orderQuantity"
													name="orderQuantity"
													th:placeholder="#{proprog.orderquantity}"
													th:field="*{orderQuantity}" />
												<div th:errors="*{orderQuantity}"
													class="alert alert-danger margin-top-5">error</div>
											</div>
										</div>
										<div class="col-xs-2">
											<label th:text="#{action.confirm}">x</label> <br />
											<button class="btn btn-primary btn-sm" type="submit"
												name="salesOrder">
												<span class="glyphicon glyphicon-ok"></span> <span
													th:text="#{action.confirm}">create</span>
											</button>
										</div>

									</div>
								</form>
							</div>
							<div class="row" th:if="${project.orderInputDate} != null">
								<div class="col-xs-5">
									<div class="form-group">
										<label for="orderNumber" th:text="#{proprog.ordernumber}">x</label>
										<span class="form-control" id="orderNumber"
											th:text="${project.orderNumber}">y</span>
									</div>
								</div>
								<div class="col-xs-5">
									<div class="form-group">
										<label for="orderQuantity" th:text="#{proprog.orderQuantity}">x</label>
										<span class="form-control" id="orderQuantity"
											th:text="${project.orderQuantity}">y</span>
									</div>
								</div>
							</div>
							<!-- /2ND ROW -->
						</div>
					</div>
				</div>
				<!-- /SALES RDER PANEL -->




			</div>
		</div>
	</div>
</body>
</html>