<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script">
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<h1 th:text="|#{users.change.password.title} ${userPasswordForm.username}|"
					class="text-primary"></h1>
		</div>
		<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{users.change.password.message}">
					Welcome message </span>
			</div>
		</div>
		<!-- USER PASSWORD FORM -->
		<form th:action="@{/users/changepassword}" method="post"
			th:object="${userPasswordForm}">
			<!-- id -->
			<input type="hidden" id="id" name="id" th:field="*{id}" />
			<input type="hidden" id="username" name="username" th:field="*{username}" />
			<div class="row margin-top-10">
				<div class="col-xs-4 col-sm-4">
					<div class="form-group">
						<label for="password" th:text="#{user.new.password}">New password</label> 
						<input type="password" class="form-control" 
						id="newPassword" name="newPassword"
							th:placeholder="#{user.new.password}" th:field="*{newPassword}" />
						<div th:errors="*{newPassword}" class="alert alert-danger margin-top-5">error</div>
					</div>
					<div class="form-group">
						<label for="repeatPassword" th:text="#{user.repeat.password}">repeat password</label> 
						<input type="password" class="form-control" 
						id="repeatPassword" name="repeatPassword"
							th:placeholder="#{user.repeat.password}" th:field="*{repeatPassword}" />
						<div th:errors="*{repeatPassword}" class="alert alert-danger margin-top-5">error</div>
					</div>
				</div>
			</div>
			<div class="row margin-top-30">
				<div class="col-xs-12">
					<a th:href="|@{/users/edit/}${userPasswordForm.id}|"  class="btn btn-link btn-sm"> 
								 	<span class="glyphicon glyphicon-menu-left"></span> <span th:text="#{action.back}">back</span>
						        </a>
					<button class="btn btn-primary btn-sm" type="submit" name="save">
						<span class="glyphicon glyphicon-save"></span> <span
							th:text="#{action.save}">save</span>
					</button>
				</div>
			</div>
		</form>

		</div>
</body>
</html>