<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script">
		<script>
			document.getElementById('file').onchange = function() {
				document.getElementById('filename').textContent = this.value;
				readURL(this);
				document.getElementById('hidediv').style.display = 'block';
			};
			function readURL(input) {
				if (!input.files) {
					return;
				}
				if (!input.files[0]) {
					return;
				}
				var reader = new FileReader();
				reader.onload = function(e) {
					$('#prev').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		</script>
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<h1 th:text="|#{users.edit.title} ${userEditForm.username}|"
					class="text-primary"></h1>
			</div>
		</div>
		<!-- USER FORM -->
		<form th:action="@{/users/save}" method="post"
			th:object="${userEditForm}">
			<div class="row margin-top-10">
				<div class="col-xs-12 col-sm-2 margin-top-10 margin-bottom-10">
					<img th:src="@{'/useravatar/' + ${userEditForm.id}}"
						class="img-responsive img-rounded"
						data-toggle="tooltip" data-placement="top" th:title="*{avatarFileName}"
						></img>
				</div>
				<div class="col-xs-4 col-sm-4">
					<div class="form-group">
						<label for="username" th:text="#{user.username}">Username</label>
						<input type="text" class="form-control" id="username"
							name="username" th:placeholder="#{user.username}"
							th:field="${userEditForm.username}" />
						<div th:errors="*{username}" class="alert alert-danger margin-top-5">error</div>
					</div>
					<div class="form-group">
						<label for="name" th:text="#{user.name}">Name</label> <input
							type="text" class="form-control" id="name" name="name"
							th:placeholder="#{user.name}" th:field="${userEditForm.name}" />
						<div th:errors="*{name}" class="alert alert-danger margin-top-5">error</div>
					</div>
					<div class="form-group">
						<label for="email" th:text="#{user.email}">E-Mail</label> <input
							type="text" class="form-control" id="email" name="email"
							th:placeholder="#{user.email}" th:field="${userEditForm.email}" />
						<div th:errors="*{email}" class="alert alert-danger margin-top-5">error</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="id" th:text="#{user.id}">Username</label> <input
							type="hidden" th:field="${userEditForm.id}"></input>
						<div id="id">
							<span th:text="|#${userEditForm.id}|" class="btn btn-sm btn-info"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="isactive" th:text="#{user.active}">Username</label>
						<div id="isactive" class="checkbox">
							<label><input type="checkbox"
								th:field="${userEditForm.active}" /><span
								th:text="#{user.active}"></span></label>
						</div>
					</div>
					<label for="roles" th:text="#{user.roles}">Username</label>
					<div>
						<ul style="margin: 0px; padding: 0px;">
							<li style="display: inline;"
								th:each="role : ${userEditForm.roles}"><span
								th:text="${role.name}"
								th:class="${role.name == 'ROLE_ADMIN'}? 'btn btn-danger btn-xs margin-bottom-5' : 'btn btn-info btn-xs margin-bottom-5'"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row margin-top-30">
				<div class="col-xs-12">
					<a th:href="@{/users/list/active}" class="btn btn-link btn-sm">
						<span class="glyphicon glyphicon-menu-left"></span> <span
						th:text="#{action.back}">back</span>
					</a> <a th:href="|@{/users/show/}${userEditForm.id}|"
						class="btn btn-warning btn-sm"> <span
						class="glyphicon glyphicon-user"></span> <span
						th:text="#{action.show}">show</span>
					</a> <a th:href="|@{/users/changepassword/}${userEditForm.id}|"
						class="btn btn-info btn-sm"> <span
						class="glyphicon glyphicon-alert"></span> <span
						th:text="#{users.change.password}">change password</span>
					</a>
					<button class="btn btn-primary btn-sm" type="submit" name="save">
						<span class="glyphicon glyphicon-save"></span> <span
							th:text="#{action.save}">save</span>
					</button>
				</div>
			</div>
		</form>
		<!-- /USER FORM -->

		<div class="row">
			<!-- MANAGE ROLES -->
			<div class="col-xs-12 col-sm-6">
				<form th:action="|@{/users/manageroles}/${userEditForm.id}|"
					method="post">
					<div class="row">
						<div class="col-xs-12">
							<h1 th:text="#{users.edit.manage.roles}"
								class="text-primary margin-top-30"></h1>
						</div>
						<div class="col-xs-12">
							<div class="list-group margin-top-10">
								<span th:each="role : ${availableRoles}" class="list-group-item"
									th:class="${role.name == 'ROLE_ADMIN'}? 'list-group-item list-group-item-danger' : 'list-group-item list-group-item-info'">
									<span th:text="${role.name}"></span>
									<button style="margin-left: 5px;"
										class="btn btn-danger btn-xs pull-right" type="submit"
										name="remove" th:value="${role.id}" th:text="#{action.remove}">remove</button>
									<button style="margin-left: 5px;"
										class="btn btn-success btn-xs pull-right" type="submit"
										name="add" th:value="${role.id}" th:text="#{action.add}">add</button>
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- /MANAGE ROLES -->
			<!-- CHOOSE AVATAR -->
			<div class="col-xs-12 col-sm-6">

				<div class="row">
					<div class="col-xs-12">
						<h1 th:text="#{users.edit.choose.avatar}"
							class="text-primary margin-top-30"></h1>
					</div>
					<div class="col-xs-12">

						<form th:action="@{'/upload/avatar/' + ${userEditForm.id}}"
							method="post" enctype="multipart/form-data">
							<input type="file" id="file" name="file" style="display: none" />
							<label for="file" class="btn btn-info"> <span
								th:text="#{users.edit.choose.avatar}"></span>
							</label>
							<button class="btn btn-primary" type="submit" name="upload">
								<span th:text="#{action.upload}">upload</span>
							</button>

							<div id="hidediv" style="display: none;">
								<img class="img-responsive img-rounded margin-top-10" id="prev"
									src="#" alt="[prev]" /> 
								<span id="filename"
									class="margin-top-10 text-muted">[file]</span>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /CHOOSE AVATAR -->
		</div>
	</div>
</body>
</html>