<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{users.list.title}" class="text-primary">Hello on
					a page</h2>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-20">
				<span th:utext="#{users.list.message}" class="flow-text ">
					Welcome message </span>
			</div>
		</div>
		<div class="row margin-top-20">
		<div class="col-xs-12 text-right">
		 <a th:href="@{/users/create}" class="btn btn-primary btn-md pull-left"> 
		 	<span class="glyphicon glyphicon-plus"></span>
          <span th:text="#{users.create}"> </span>
        </a>
		 <a th:href="@{/users/list/all}" class="btn btn-info btn-md"> 
		 	<span class="glyphicon glyphicon-th-list"></span>
          <span th:text="#{users.all}"> </span>
        </a>
		 <a th:href="@{/users/list/active}" class="btn btn-info btn-md"> 
		 	<span class="glyphicon glyphicon-ok"></span>
           <span th:text="#{users.active}"> </span>
        </a>
		 <a th:href="@{/users/list/inactive}" class="btn btn-info btn-md"> 
		 	<span class="glyphicon glyphicon-remove"></span>
          <span th:text="#{users.inactive}"> </span>
        </a>
		 <a th:href="@{/users/list/username}" class="btn btn-info btn-md"> 
		 	<span class="glyphicon glyphicon-sort-by-alphabet"></span>
          <span th:text="#{user.username}"> </span>
        </a>
        		 <a th:href="@{/users/list/id}" class="btn btn-info btn-md"> 
		 	<span class="glyphicon glyphicon-sort-by-order"></span>
          <span th:text="#{user.id}"> </span>
        </a>
				
		</div>
		</div>
		<div class="row margin-top-20">
			<div class="col-xs-12 col-xs-offset-0">
				<div class="table-responsive">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>#id</th>
								<th>Username</th>
								<th>Name</th>
								<th>Email</th>
								<th>Avatar</th>
								<th>Roles</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${users}">
								<td><span th:text="|#${user.id}|">id</span></td>
								<td><span th:text="${user.username}"></span></td>
								<td><span th:text="${user.name}"></span></td>
								<td><span th:text="${user.email}"></span></td>
								<td><span th:text="${user.avatarPath}"></span></td>
								<td><span th:text="${user.roles}"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>