<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<style>

body {
	font-family: Calibri, "Trebuchet MS", Helvetica, sans-serif;
}
	
table {
	width: 100%;
}

.color {
	background: #5AC4F2;
	color: #F3FBFE;
	font-weight: bold;
}

a {
	color: #3AA4D2;
}

td {
	padding: 5px 10px 5px 10px;
	border: 1px solid gray;
}

.idcell {
	width: 25%;
}

.statecell {
	width: 15%;
}

.datecell {
	width: 20%;
}

.titlecell {
	width: 50%;
}

.datacell {
	font-weight: bold;
}

#footer {
	font-size: 80%;
}
</style>
</head>
<body>
	<!-- PAGE TITLE -->
	<table>
		<tr class="color">
			<td>
				<h1 th:text="|Dane do logowania w aplikacji webowej ADR Polska|"></h1>
			</td>
		</tr>
		<tr>
			<td>
			<span
				th:text="|
				Profil użytkownika ${user.name} został zaktualizowany w aplikacji webowej ADR Polska. 
				Dane do logowania oraz adres aplikacji znajdują się poniżej.
				|"></span>
			</td>
		</tr>
	</table>
	<!-- DETAILS -->
	<table>
		<tr>
			<td class="color" colspan="2"><span
				th:text="|Dane do logowania|"></span></td>
		</tr>
		<tr>
			<td class="idcell"><span th:text="|Nazwa użytkownika|"></span></td>
			<td class="datacell"><span
				th:text="${user.name}"></span></td>
		</tr>
		<tr>
			<td class="idcell"><span th:text="|Login|"></span></td>
			<td class="datacell"><span
				th:text="${user.username}"></span></td>
		</tr>
		<tr>
			<td class="idcell"><span th:text="|Hasło|"></span></td>
			<td class="datacell"><span
				th:text="${pass}"></span></td>
		</tr>
	</table>
	<!-- LINK ADR -->
	<table>
		<tr>
			<td class="color" colspan="1"><span>Link do
					aplikacji w sieci firmy ADR Polska</span></td>
		</tr>
		<tr>
			<td class="datacell"><i><a
				th:href="|http://atwsrv-java:8080/adr/|"><span
					th:text="|http://atwsrv-java:8080/adr/|">title</span></a></i></td>
		</tr>
	</table>
	<!-- LINK OUTSIDE -->
	<table>
		<tr>
			<td class="color" colspan="1"><span>Link dla firm z grupy poza siecią ADR Polska
			</span></td>
		</tr>
		<tr>
			<td><i><a
				th:href="|http://192.168.1.23:8080/adr/|"><span
					th:text="|http://192.168.1.23:8080/adr/|">title</span></a></i></td>
		</tr>
	</table>
	<!-- FOOTER -->
	<table>
		<tr id="footer">
			<td class="color"><span>Mail został wygenerowany
					automatycznie przez aplikację webową ADR Polska Sp. z o.o., moduł
					administracyjny. Proszę nie odpowiadać na tę wiadomość.</span></td>
		</tr>
	</table>
</body>
</html>