<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
<div layout:fragment="script">
		<script th:src="@{/datatables/jquery.dataTables.min.js}" type="text/javascript"></script>
		<script th:src="@{/datatables/dataTables.helper.js}" type="text/javascript"></script>
		<script th:if="__${#locale}__ == 'pl'">
			$('#table').DataTable({
				language : {
					url : getUrl() + "polish.json",
				},
				order: [[ 1, 'asc' ]]
			});		    	    
		</script>
		<script th:if="__${#locale}__ == 'en'">
			$('#table').DataTable({
				language : {
					url : getUrl() + "english.json",
				},
				order: [[ 1, 'asc' ]]
			});		    	    
		</script>
		<script th:if="__${#locale}__ == 'it'">
			$('#table').DataTable({
				language : {
					url : getUrl() + "italian.json",
				},
				order: [[ 1, 'asc' ]]
			});		    	    
		</script>
		</div>
	<div layout:fragment="content">
	<!-- WELCOME MESSAGE -->
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{users.monitor.title}" class="text-primary">Hello
					on a page</h2>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-20">
				<span th:text="#{users.monitor.message}"> Welcome message </span>
			</div>
			<!-- back -->
				<a th:href="@{/}" class="btn btn-link btn-sm"> <span
					class="glyphicon glyphicon-menu-left"></span> <span
					th:text="#{action.back}">back</span>
				</a>
			<!-- /back -->
		</div>
	<!-- SESSIONS LIST -->	
		<div class="row margin-top-10">
			<div class="col-xs-12">
				<h3 class="text-primary" th:text="#{users.monitor.logged.in.users}">acrtive
					users</h3>
			</div>

			<div class="col-xs-12">
								<div class="table-responsive">
					<table class="display" id="table">
						<thead>
							<tr>
								<th>#id</th>
								<th th:text="#{user.username}">param</th>
								<th th:text="#{user.name}">param</th>
								<th th:text="#{user.email}">param</th>								
								<th th:text="#{users.monitor.session.id}">param</th>
								<th th:text="#{users.monitor.last.request.date}">param</th>
								<th th:text="#{users.monitor.is.session.expired}">param</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="ses : ${sessions}">
								<td><span th:text="|#${ses.user.id}|">id</span></td>
								<td><a target="_blank" th:href="|@{/users/show/}${ses.user.id}|" data-toggle="tooltip" data-placement="top" th:title="#{action.show}"><span th:text="${ses.user.username}"></span></a></td>
								<td><span th:text="${ses.user.name}"></span></td>
								<td>
								<a
								data-toggle="tooltip" data-placement="top" th:title="#{action.send}" 
								th:href="|mailto:${ses.user.email}|"><span th:text="${ses.user.email}"></span></a>
								</td>
								<td>
									<span th:text="${ses.sessionId}"></span>
								</td>
								<td>
									<span th:text="${ses.lastRequestDate}"></span>
								</td>
								<td class="text-center">
									<span th:text="${ses.expired}"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>
			<!-- CREATE ALERT -->
			<div class="row margin-top-10">
						<div class="col-xs-12">
				<h3 class="text-primary" th:text="#{users.monitor.send.alert}">send
					alert</h3>
			</div>
			<div class="col-xs-12">
				<input class="form-control" autocomplete="off" type="text"
					id="message" th:placeholder="#{users.monitor.content}" /> <span
					class="btn btn-primary margin-top-10" th:text="#{action.add}"
					onclick="sendMessage()">add</span> <span
					class="btn btn-info margin-top-10" th:text="#{action.remove}"
					onclick="requestCancelMessage()">remove</span>
			</div>
		</div>
		<!-- /CONTENT -->
	</div>
</body>
</html>