<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{users.edit.title}" class="text-primary">Hello on a
					page</h2>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-20">
				<span th:text="#{users.edit.message}" class="flow-text ">
					Welcome message </span>
			</div>
		</div>
		<div class="row margin-top-20 text-center">
			<div class="col-xs-12">
				
<span th:text="${user.avatarPath}"></span>
				
			</div>
		</div>
	</div>
</body>
</html>