<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
</head>
<body>
	<div layout:fragment="script">
		<!-- SELECTIZE JS -->
		<script th:src="@{/selectize/js/selectize.min.js}"
			type="text/javascript"></script>
		<script>
			$('#operator').selectize();
		</script>
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{quality.surveys.show.title}" class="text-primary">Hello
					on a page</h2>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{quality.surveys.show.message}"> Welcome
					message </span>
			</div>
		</div>
		<div class="row margin-top-10">
			<div class="col-xs-12">
				<a th:href="@{/qualitysurveys/list}" class="btn btn-link btn-sm">
					<span class="glyphicon glyphicon-menu-left"></span> <span
					th:text="#{action.back}">back</span>
				</a>
			</div>
		</div>
		<!-- SURVEY INFO -->
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<h3 th:text="#{quality.surveys.survey.info}"
							class="text-primary underline"></h3>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-4 col-md-3 col-lg-2">
							<span
								th:text="|Id|">param</span>
						</div>
						<div class="col-xs-8 col-md-9 col-lg-10">
							<strong
								th:text="|#${surveyInfo.id}|"
								class="text-primary">value</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 col-lg-2">
							<span th:text="#{quality.surveys.login.user}">param</span>
						</div>
						<div class="col-xs-8 col-md-9 col-lg-10">
							<strong th:text="${surveyInfo.user.username}" class="text-primary">value</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 col-lg-2">
							<span
								th:text="#{quality.surveys.creation.time}">param</span>
						</div>
						<div class="col-xs-8 col-md-9 col-lg-10">
							<strong
								th:text="${surveyInfo.creationDate}"
								class="text-primary">value</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- USER DETAILS -->
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<h3 th:text="#{quality.surveys.operator}"
							class="text-primary underline"></h3>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-4 col-md-3 col-lg-2">
							<span th:text="#{quality.surveys.operator.id}">param</span>
						</div>
						<div class="col-xs-8 col-md-9 col-lg-10">
							<strong th:text="${surveyInfo.operatorId}" class="text-primary">value</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 col-lg-2">
							<span
								th:text="|#{quality.surveys.operator.last.name}, #{quality.surveys.operator.first.name}|">param</span>
						</div>
						<div class="col-xs-8 col-md-9 col-lg-10">
							<strong
								th:text="|${surveyInfo.operatorLastName}, ${surveyInfo.operatorFirstName}|"
								class="text-primary">value</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 col-lg-2">
							<span th:text="#{quality.surveys.operator.department}">param</span>
						</div>
						<div class="col-xs-8 col-md-9 col-lg-10">
							<strong th:text="${surveyInfo.operatorDepartment}"
								class="text-primary">value</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 col-lg-2">
							<span th:text="#{quality.surveys.operator.position}">param</span>
						</div>
						<div class="col-xs-8 col-md-9 col-lg-10">
							<strong th:text="${surveyInfo.operatorPosition}"
								class="text-primary">value</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 col-lg-2">
							<span th:text="#{quality.surveys.operator.rcp.number}">param</span>
						</div>
						<div class="col-xs-8 col-md-9 col-lg-10">
							<strong th:text="${surveyInfo.operatorRcpNo}"
								class="text-primary">value</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- PRODUCTION ORDER DETAILS -->
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<h3 th:text="#{quality.surveys.production.order}"
							class="text-primary underline"></h3>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-4 col-md-3 col-lg-2">
							<span th:text="#{quality.surveys.production.order}">param</span>
						</div>
						<div class="col-xs-8 col-md-9 col-lg-10">
							<strong th:text="${surveyInfo.productionOrder}"
								class="text-primary">value</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 col-lg-2">
							<span th:text="#{quality.surveys.product.code}">param</span>
						</div>
						<div class="col-xs-8 col-md-9 col-lg-10">
							<strong th:text="${surveyInfo.productCode}" class="text-primary">value</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 col-lg-2">
							<span th:text="#{quality.surveys.product.description}">param</span>
						</div>
						<div class="col-xs-8 col-md-9 col-lg-10">
							<strong th:text="${surveyInfo.productDescription}"
								class="text-primary">value</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 col-lg-2">
							<span th:text="#{quality.surveys.client.code}">param</span>
						</div>
						<div class="col-xs-8 col-md-9 col-lg-10">
							<strong th:text="${surveyInfo.clientCode}" class="text-primary">value</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-md-3 col-lg-2">
							<span th:text="#{quality.surveys.client.name}">param</span>
						</div>
						<div class="col-xs-8 col-md-9 col-lg-10">
							<strong th:text="${surveyInfo.clientName}" class="text-primary">value</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- PARAMETER ANSWERS -->
		<div class="row" th:if="${parameterAnswers}">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<h3 th:text="#{quality.surveys.parameters.list}"
							class="text-primary underline"></h3>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th th:text="#{line.number}">lp</th>
								<th th:text="#{quality.surveys.parameter.title}">param</th>
								<th class="text-center"
									th:utext="|#{quality.surveys.model.answer} /&lt;br /&gt;#{qualitu.survey.confirmation}|" >model
									answer / confirm</th>
								<th class="text-center" th:text="#{quality.surveys.answer}"></th>
								<th th:text="#{quality.surveys.comment}">comment</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item,stat : ${parameterAnswers}">
								 <td style="font-size: 110%;">
									<span th:text="${stat.index} + 1">lp</span>
								</td>
								
								<td style="font-size: 110%;">
									<span class="text-lg"
									th:text=" *{item.parameter.title}"></span>
								</td>
								<td class="text-center">
									<span 
									th:if="*{item.parameter.type} == ${textAnswerType}"
									th:text=" *{item.modelAnswer}"></span>
									<input 
									th:if="*{item.parameter.type} == ${booleanAnswerType}"
									type="checkbox"
									disabled="disabled"
									th:checked="*{item.yesnoAnswer}"></input>
								</td>
								<td class="text-center">
								 <span 
									th:if="*{item.parameter.type} == ${textAnswerType}"
									style="text-align: center;"
									th:text=" *{item.valueAnswer}"></span>
								</td>
								<td>
								<span th:text=" *{item.comment}"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- BOM ANSWERS -->
		<div class="row" th:if="${bomAnswers}">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<h3 th:text="#{quality.surveys.bom.list}"
							class="text-primary underline"></h3>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
									<th th:text="#{quality.surveys.bom.seq}">lp</th>
									<th th:text="#{quality.surveys.bom.part.code}">part</th>
									<th th:text="#{quality.surveys.bom.part.description}" >desc</th>
									<th th:text="#{quality.surveys.bom.model.unit} " class="text-center">unit</th>
									<th th:text="#{quality.surveys.bom.answer.quantity}" class="text-center">quantity</th>
									<th th:text="#{quality.surveys.comment}">comment</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item,stat : ${bomAnswers}">
								 <td style="font-size: 110%;">
									<span th:text="*{item.sequence}">value</span>
								</td>
								
								<td style="font-size: 110%;">
									<span class="text-lg"
									th:text=" *{item.partCode}">value</span>
								</td>
								<td>
									<span th:text="*{item.partDescription}">value</span>
								</td>
								<td class="text-center">
									<span th:text="*{item.modelUnit}">value</span>
								</td>
								<td class="text-center">
									<span th:text="*{item.answerQuantity}">value</span>
								</td>
								<td>
								<span th:text=" *{item.comment}">value</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
