<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script"></div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<h1 th:text="#{buyorders.answer.title}" class="text-primary"></h1>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{buyorders.answer.message}"> Welcome message
				</span>
			</div>
			<a th:href="@{/buyorders/list}" class="btn btn-link btn-sm"> <span
				class="glyphicon glyphicon-menu-left"></span> <span
				th:text="#{action.back}">back</span>
			</a>
		</div>
		<div class="underline"></div>
		<h1 th:text="#{buyorders.buyorder}" class="text-primary"></h1>
		<!-- FORM -->
		<div class="row margin-top-20">
			<div class="col-xs-2">
				<div class="form-group">
					<label for="oid">#id</label> <span class="form-control"
						id="product" th:text="${order.id}">text</span>
				</div>
			</div>
			<div class="col-xs-5">
				<label for="creator" th:text="#{buyorders.creator}"></label> <span
					class="form-control" id="creator" th:text="${order.creator.name}">text</span>
			</div>
			<div class="col-xs-5">
				<div class="form-group">
					<label for="credat" th:text="#{buyorders.creationdate}">date</label>
					<span class="form-control" id="creationdate"
						th:text="${#dates.format(order.creationDate, 'dd.MM.yyyy HH:mm')}"></span>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group">
					<label for="product" th:text="#{buyorders.product.code}">text</label>
					<span class="form-control" id="product" th:text="${order.itemCode}">text</span>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label for="description" th:text="#{buyorders.product.description}">text</label>
					<span class="form-control" id="product"
						th:text="${order.itemDescription}">text</span>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="form-group">
					<label for="quantity" th:text="#{buyorders.quantity}">text</label>
					<span class="form-control" id="quantity"
						th:text="${order.quantity}">text</span>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="form-group">
					<label for="clientcode" th:text="#{buyorders.client.code}">text</label>
					<span class="form-control" id="clientcode"
						th:text="${order.clientCode}">text</span>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="form-group">
					<label for="clientname" th:text="#{buyorders.client.name}">text</label>
					<span class="form-control" id="clientname"
						th:text="${order.clientName}">text</span>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="form-group">
					<label for="order" th:text="#{buyorders.order}">date</label> <span
						class="form-control" id="order" th:text="${order.orderNumber}"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<!-- comment -->
					<div class="form-group">
						<label for="creatorcomment" th:text="#{buyorders.creatorcomment}">comment</label>
						<textarea class="form-control" id="creatorcomment"
							th:text="${order.creatorComment}"
							style="min-height: 150px; background-color: white;"
							readonly="true"></textarea>
					</div>
				</div>
			</div>
		</div>
		<h1 th:text="#{buyorders.response}" class="text-primary"></h1>
		<div class="row">
			<!-- IF NO COMMENT YET -->
			<div th:if="${order.responderComment == null}" class="col-xs-12">
				<form th:action="|@{/buyorders/answer}/${order.id}|" method="post"
					th:object="${responseForm}">
					<input type="hidden" th:field="*{id}"></input>
					<div class="form-group">
						<!-- comment -->
						<label for="respondercomment"
							th:text="#{buyorders.respondercomment}">comment</label>
						<textarea class="form-control" id="respondercomment"
							name="respondercomment"
							th:placeholder="#{buyorders.respondercomment}"
							th:field="*{responderComment}" style="min-height: 150px;"></textarea>
						<div th:errors="*{responderComment}"
							class="alert alert-danger margin-top-5">error</div>
					</div>

					<div class="row margin-top-10">
						<div class="col-xs-12">
							<a th:href="@{/buyorders/list}" class="btn btn-link btn-sm">
								<span class="glyphicon glyphicon-menu-left"></span> <span
								th:text="#{action.back}">back</span>
							</a>
							<button class="btn btn-primary btn-sm" type="submit" name="save">
								<span class="glyphicon glyphicon-ok"></span> <span
									th:text="#{action.save}">create</span>
							</button>
						</div>
					</div>
				</form>
			</div>
			<!-- END IF NO COMMENT -->
			<!-- COMMENT EXIST -->
			<div th:if="${order.responderComment != null}" class="col-xs-12">


				<div class="form-group">
					<!-- comment -->
					<div class="form-group">
						<label for="respondercomment"
							th:text="#{buyorders.respondercomment}">comment</label>
						<textarea class="form-control" id="respondercomment"
							th:text="${order.responderComment}"
							style="min-height: 150px; background-color: white;"
							readonly="true"></textarea>
					</div>
				</div>
				<a th:href="@{/buyorders/list}" class="btn btn-link btn-sm"> <span
					class="glyphicon glyphicon-menu-left"></span> <span
					th:text="#{action.back}">back</span>
				</a>
			</div>
			<!-- END OF COMMENT EXISTS -->
		</div>
		<!-- /FORM -->




	</div>
</body>
</html>