body {
	padding-top: 70px;
}

html {
	position: relative;
	min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 33px;
	background-color: #F4F4F4;
	border-top: 1px solid #DFDFDF;
}

.footer p {
	line-height: 30px;
	margin-bottom: 0px;
}

.logo {
	width: 40px;
	height: 40px;
	margin: 5px 15px 5px 0px;
}

.nav-img {
	position: absolute;
	right: 5px;
}

.margin-bottom-5{
	margin-bottom: 5px;
}
.margin-bottom-10{
	margin-bottom: 10px;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.margin-bottom-30{
	margin-bottom: 30px;
}

.margin-top-5{
	margin-top: 5px;
}
.margin-top-5{
	margin-top: 5px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px;
}


.input-error{
	background-color: #F3D0D0;
}
