@CHARSET "UTF-8";

body {
	padding-top: 70px;
	background: url("../images/background/dark_01.jpg") no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
}

.blend {
	background: rgba(255, 255, 255, .8);
	margin-top: -20px;
	width: parent;
	margin: 0 auto;
}