#flip {display: table; width: 100%; }
#top {display: table-header-group; } /* Will be displayed at the top */
#middle {display: table-row-group;    } /* Will be displayed in the middle */
#bottom {display: table-footer-group; } /* Will be displayed at the bottom of the pseudo-table */
/*<div id="flip">...
    <div id="bottom">First ...
    <div id="middle">Second ... 
    <div id="top">Third ...
  
*/

body {
	padding-top: 70px;
	background: url("../images/background/abstract_08.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
}

html {
	position: relative;
	min-height: 100%;

}

.blend {
	background: rgba(255, 255, 255, .4);
	margin-top: -20px;
	width: parent;
	margin: 0 auto;
}

.table {
	background: rgba(255, 255, 255, .6);
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 33px;
	
}

.footer p {
	line-height: 30px;
	margin-bottom: 0px;
}

.logo {
	width: 40px;
	height: 40px;
	margin: 5px 15px 5px 0px;
}

.nav-img {
	position: absolute;
	right: 5px;
}

.underline {
	border-bottom: 1px solid #E0E0E0;
}

.margin-bottom-5{
	margin-bottom: 5px;
}
.margin-bottom-10{
	margin-bottom: 10px;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.margin-bottom-30{
	margin-bottom: 30px;
}

.margin-top-5{
	margin-top: 5px;
}
.margin-top-5{
	margin-top: 5px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px;
}


.input-error{
	background-color: #F3D0D0;
}
