@CHARSET "UTF-8";

body {
	padding-top: 70px;
	background: url("http://192.168.1.23/APACHE_IMG/background/spring_02.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
}

.blend {
	background: rgba(235, 235, 235, 1);
	width: parent;
	margin: 0 auto;
	margin-top: -20px;
	border: 1px solid black;
}