.title {
	
}
.footer {
	height: 33px;
	line-height: 30px;
	margin-top: 25px;
	margin-bottom: 0px;
}
a:link {
    color: grey;
}
a:visited {
    color: grey;
}
a:hover {
    color: blue;
}
a:active {
    color: grey;
} 

.margin-bottom-5 {
	margin-bottom: 5px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-top-5 {
	margin-top: 5px;
}
.margin-top-5 {
	margin-top: 5px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.bold {
	font-weight: bold;
}
.border {
	border: 1px solid black;
}
.underline {
	border-bottom: 1px solid #E0E0E0;
}
.overline {
	border-top: 1px solid #E0E0E0;
}
.hideonprint {
	margin-bottom: 1px;
	font-style: italic;
	padding: 1px 0px 10px 10px;
	background-color: #EEEEEE;
}
table {
    border-collapse: collapse;
}
table, th, td {
	padding: 0 7px 0 7px;
    border: 1px solid black;
}
td {
	border: 1px solid #808080;
}
.barcode {
	font-family: C39HrP36DmTt, "Courier New", Courier, monospace;
	font-size: xx-large;
}


@media screen {
	.hideonscreen {
		display: none;
	}
}
/** Fix for Chrome issue #273306 **/
@media print {
	.hideonprint {
		display: none;
	}
}




