<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/layout_terminal">
<head lang="pl">
</head>
<body>
	<div layout:fragment="content">
		<div class="center">
			<h1>TERMINAL ADR</h1>
		</div>
		<div class="center">
			<a class="button menubutton" th:text="#{inventory.inventory}"
				th:href="@{/terminal/inventory}">txt</a>
			<a class="button menubutton" th:text="|Terminal test|"
				th:href="@{/terminal/test}">txt</a><br/>
		</div>
	</div>
</body>
</html>