<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
		<div class="col-xs-12">
			<h2 th:text="#{welcome.title}">Hello on a page</h2>
		</div>
		<div class="col-xs-12 text-justify">
		<span th:text="#{welcome.message}" class="flow-text ">
			Welcome message
		</span>
		</div>
		<div class="col-xs-12 col-xs-offset-0">
		<br/>
		<pre>
public static void main(String[] args)
   System.out.println("Hello World!");
}
</pre>
</div>
		</div>
	</div>
</body>
</html>