<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/layout_terminal">
<head lang="pl">
</head>
<body>
	<div layout:fragment="content">
		<div class="center">
			<h1>TERMINAL ADR</h1>
		</div>
		<div class="center">
			<a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_INVENTORYTERMINAL')" 
				class="button menubutton" th:text="#{inventory.inventory}"
				th:href="@{/terminal/inventory}">txt
			</a>
			
			<a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SHIPMENTSTERMINAL')" 
				class="button menubutton" th:text="#{shipments}"
				th:href="@{/terminal/shipments}">txt
			</a>
			
			<a sec:authorize="!isAuthenticated()" 
				class="button menubutton" th:text="|Log in|"
				th:href="@{/terminal/auth}">txt
			</a>

			<a class="button menubutton" th:text="|Terminal test|"
				th:href="@{/terminal/test}">txt</a><br/>
		</div>
	</div>
</body>
</html>