<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{welcome.title}" class="text-primary">Hello on a
					page</h2>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{welcome.message}"> Welcome message </span>
			</div>
		</div>

		<!-- MODULES -->
		<div class="row">
			<!-- NAMEDAY -->
			<div id="social" class="col-md-6" th:if="${dayCode}">

				<h3 class="text-primary" th:text="|#{welcome.goodmorning}!|">tickets</h3>
				<div class="underline margin-bottom-5"></div>
				<div>
					<table>
						<tr>
							<td style="vertical-align: top;"><span
								class="btn-sm glyphicon glyphicon-calendar"></span></td>
							<td><span
								th:utext="|#{welcome.todaywegot} &lt;b&gt;#{${dayCode}}&lt;/b&gt;, ${today}|"></span></td>
						</tr>
						<tr>
							<td style="vertical-align: top;"><span
								class="btn-sm glyphicon glyphicon-gift"></span></td>
							<td><span
								th:utext="|#{welcome.nameday} &lt;b&gt;${nameDay}&lt;/b&gt;|"></span></td>
						</tr>
						<tr th:if="${strangeDay}">
							<td style="vertical-align: top;"><span
								class="btn-sm glyphicon glyphicon-arrow-right"></span></td>
							<td style="padding-top: 4px;"><span
								th:utext="|${strangeDay}|"></span></td>
						</tr>

					</table>
				</div>
			</div>

			<!-- 
			<a target="_blank" href="https://booked.com.pl/weather/sanok-147118"><img src="https://w.bookcdn.com/weather/picture/32_147118_1_18_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png"  alt="booked.net"/></a>
			 -->

			<!-- NO AUTH -->
			<div class="col-md-6 margin-top-10" id="no-login"
				sec:authorize="!isAuthenticated()">
				<div class="panel panel-primary" style="margin-bottom: -5px;">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-user"></span> <span class="bold"
							th:text="#{welcome.auth}"></span>
					</div>
					<div class="panel-body center">
						<p>
							<span th:text="#{welcome.auth.message}"></span>
						</p>
						<p>
							<a th:href="@{/login}" class="btn btn-primary btn-sm"> <span
								class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;<span
								th:text="#{action.login.pass}"></span>
							</a> <b>/</b> <a th:href="@{/readcard}"
								class="btn btn-primary btn-sm"> <span
								class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;<span
								th:text="#{action.login.rcp}"></span>
							</a>
						</p>
					</div>
				</div>
			</div>

			<!-- WEATHER -->
			<div sec:authorize="hasAnyRole('ROLE_WEATHER', 'ROLE_ADMIN')">
				<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
					<h3 class="text-primary" th:text="|#{welcome.weather}|">tickets</h3>

				</div>
				<div class="col-xs-12 col-xs-offset-0 center margin-top-10">
					<!--<img src="https://www.theweather.com/wimages/foto2dba88d5ad8f5af91b5b9def9cf81559.png"/>  -->
					<a class="weatherwidget-io"
						href="https://forecast7.com/pl/49d5622d21/sanok/"
						data-label_1="SANOK" data-days="5">SANOK</a>
					<script>
						!function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (!d.getElementById(id)) {
								js = d.createElement(s);
								js.id = id;
								js.src = 'https://weatherwidget.io/js/widget.min.js';
								fjs.parentNode.insertBefore(js, fjs);
							}
						}(document, 'script', 'weatherwidget-io-js');
					</script>
				</div>
			</div>
			<!-- /WEATHER -->
			<!-- ADMIN -->
			<div id="adminOnly"
				sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_ADMIN')">
				<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
					<h3 class="text-danger" th:text="#{department.it}">Panel With
						title</h3>
				</div>
				<div class="col-xs-12 margin-top-10">
					<a th:href="@{/users/list/active}"
						class="btn btn-danger btn-md margin-top-5"> <span
						class="glyphicon glyphicon-user"></span> <span
						th:text="#{users.management}">users management</span>
					</a> <a th:href="@{/redmine/userslist}"
						class="btn btn-danger btn-md margin-top-5"> <span
						class=" 	glyphicon glyphicon-eye-open"></span> <span
						th:text="#{redmine.users.title}">users management</span>
					</a> <a th:href="@{/users/monitor}"
						class="btn btn-danger btn-md margin-top-5"> <span
						class="glyphicon glyphicon-time"></span> <span
						th:text="#{session.monitor}">users management</span>
					</a> <a th:href="@{/mailer/create}"
						class="btn btn-danger btn-md margin-top-5"> <span
						class="glyphicon glyphicon-envelope"></span> <span
						th:text="|Mailer|">users management</span>
					</a> <a th:href="@{/system/log}"
						class="btn btn-danger btn-md margin-top-5"> <span
						class="glyphicon glyphicon-list-alt"></span> <span
						th:text="#{system.log}">users management</span>
					</a> <a href="https://firewall.atwsystem.pl:1024/" target="_blank"
						class="btn btn-danger btn-md margin-top-5"> <span
						class="glyphicon glyphicon-signal"></span> <span
						th:text="|Firewall|">fire wall</span>
					</a>
				</div>
			</div>
			<!-- PUBLIC -->
			<div id="public">
				<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
					<h3 class="text-primary" th:text="#{welcome.public}">tickets</h3>
				</div>
				<div class="col-xs-12 margin-top-10"></div>
				<div class="col-xs-12 margin-top-5">

					<a class="btn btn-success btn-md margin-top-5" target="_blank"
						href="http://adrpsrv-x3/"> <span
						class="glyphicon glyphicon-equalizer"></span>&nbsp;&nbsp;<span
						th:text="|Sage ERP X3|">Phone numbers</span>
					</a>

					<!-- HR DROP -->
					<div class="dropdown" style="display: inline;">
						<button class="btn btn-primary dropdown-toggle"
							style="margin-top: 5px;" type="button" id="drop1"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<span class="glyphicon glyphicon-user"></span> <span
								th:text="|#{welcome.hr}|"></span> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu margin-top-20" aria-labelledby="drop1">
							<li class="dropdown-header"><span
								th:text="#{welcome.holidays}"></span></li>
							<li><a href="http://192.168.1.42" target="_blank"><span
									class="glyphicon glyphicon-link"></span> <span
									th:text="|AutoID UNIS RCP|"></span></a></li>
							<li><a href="http://192.168.1.33:8082" target="_blank"><span
									class="glyphicon glyphicon-link"></span> <span
									th:text="|Comarch HRM ADR|"></span></a></li>
							<li><a href="http://192.168.1.33:8081" target="_blank">
									<span class="glyphicon glyphicon-link"></span> <span
									th:text="|Comarch HRM WPS|"></span>
							</a></li>
							<li><a href="http://192.168.1.23/DOCS/calendar.pdf"
								target="_blank"> <span class="glyphicon glyphicon-calendar"></span>
									<span th:text="#{calendar.freedays}"></span>
							</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header"><span
								th:text="#{welcome.delegations}"></span></li>
							<li><a href="http://192.168.1.23/DOCS/trip_user.pdf"
								target="_blank"> <span class="glyphicon glyphicon-plane"></span>
									<span th:text="#{trip.user}">Codification</span>
							</a></li>
							<li><a href="http://192.168.1.23/DOCS/trip_manager.pdf"
								target="_blank"> <span class="glyphicon glyphicon-plane"></span>
									<span th:text="#{trip.manager}"></span>
							</a></li>
							<li><a
								href="http://192.168.1.23/DOCS/trip_manage_reservations.pdf"
								target="_blank"> <span class="glyphicon glyphicon-plane"></span>
									<span th:text="#{trip.managereservations}">Codification</span>
							</a></li>
							<li><a href="http://192.168.1.23/DOCS/trip_flow.jpg"
								target="_blank"> <span
									class="glyphicon glyphicon-object-align-left"></span> <span
									th:text="#{trip.flow}">Codification</span>
							</a></li>
						</ul>
					</div>
					<!-- DOC DROP -->
					<div class="dropdown" style="display: inline;">
						<button class="btn btn-primary dropdown-toggle"
							style="margin-top: 5px;" type="button" id="drop2"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<span class="glyphicon glyphicon-folder-open"
								style="margin-right: 5px;"></span> <span
								th:text="|#{welcome.documents}|"></span> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu margin-top-20" aria-labelledby="drop2">
							<li class="dropdown-header"><span
								th:text="#{welcome.manuals}"></span></li>
							<li><a href="http://192.168.1.23/DOCS/WebApp_General.pdf"
								target="_blank"> <span
									class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;<span
									th:text="#{general.manual.webapp.general}"> </span>
							</a></li>
							<li><a href="http://192.168.1.23/DOCS/codifica.pdf"
								target="_blank"> <span
									class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;<span
									th:text="#{clients.codification}"></span>
							</a></li>
							<li><a href="http://192.168.1.23/DOCS/passchange.pdf"
								target="_blank"> <span
									class=" 	glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;<span
									th:text="#{password.manual}"></span>
							</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header"><span
								th:text="#{welcome.companyprints}"></span></li>

							<li><a href="http://192.168.1.23/DOCS/company.print.adr.doc"
								target="_blank"> <span class="glyphicon glyphicon-save-file"></span>
									<span th:text="#{company.print.adr}">Phone numbers</span>
							</a></li>
							<li><a href="http://192.168.1.23/DOCS/company.print.wps.doc"
								target="_blank"> <span class="glyphicon glyphicon-save-file"></span>
									<span th:text="#{company.print.wps}">Phone numbers</span>
							</a></li>
						</ul>
					</div>

					<a class="btn btn-primary btn-md margin-top-5"
						th:href="@{/phones/list}"> <span
						class="glyphicon glyphicon-phone-alt"></span> <span
						th:text="#{phone.numbers}">Phone numbers</span>
					</a> <a th:href="@{/geolook/map}"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-th"></span> <span
						th:text="|#{geolook.warehouses.map} ADRP|">title</span>
					</a> <a th:href="@{/geolook/search}"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-search"></span> <span
						th:text="|#{geolook.warehouses.lookup} ADRP|">title</span>
					</a> <a th:href="@{/wpslook/search}"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-search"></span> <span
						th:text="#{wpslook.warehouses.lookup}">WPS Lookup</span>
					</a> <a th:href="@{/inventory/list}"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-indent-right"></span> <span
						th:text="#{inventory.inventory}">title</span>
					</a> <a th:href="@{/nameplates/list}"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-list"></span> <span
						th:text="#{nameplates.rfid.log}">RFID Log</span>
					</a> <a th:href="@{/weldlog/list}"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-list"></span> <span
						th:text="#{weldlog.title}">Weldlog Log</span>
					</a>

				</div>
			</div>
			<!-- INDUSTRY 4.0 -->
			<div id="industry">
				<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
					<h3 class="text-info" th:text="#{industry.title}">Panel With
						title</h3>
				</div>
				<div class="col-xs-12 margin-top-10">
					<p>
						<span th:text="#{industry.start}"></span>
					</p>
					<a th:href="@{/industry/dispatch}"
						class="btn btn-primary btn-md margin-top-5"> <span
						class="glyphicon glyphicon-star"></span> <span
						th:text="#{industry.title}"></span>
					</a> <a
						sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_ADMIN', 'ROLE_INDUSTRYMANAGER')"
						th:href="@{/industry/manage/dispatch}"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-star-empty"></span> <span
						th:text="#{industry.manage.title}"></span>
					</a>
				</div>
			</div>
			<!-- OFFICE -->
			<div id="office"
				sec:authorize="hasAnyRole(
			'ROLE_ADMIN', 
			'ROLE_BUYORDMANAGER', 
			'ROLE_PRODTOSALEUSER', 
			'ROLE_COMPONENTSUSER', 
			'ROLE_PRODORIGINUSER', 
			'ROLE_CONSUMPTIONUSER',
			'ROLE_ENVIRONMENTUSER',
			'ROLE_SHIPCUST_SALES',
			'ROLE_SHIPCUST_SPARE',
			'ROLE_SHIPCUST_ACQ',
			'ROLE_SHIPCUST_SHIP',
			'ROLE_AVGPRICESUSER',
			'ROLE_HISTOCKUSER'
			)">
				<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
					<h3 class="text-info" th:text="#{department.offices}">Panel
						With title</h3>
				</div>
				<div class="col-xs-12 margin-top-10">
					<a th:href="@{/shipcust/dispatch}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 
						'ROLE_SHIPCUST_SALES', 'ROLE_SHIPCUST_SPARE', 
						'ROLE_SHIPCUST_ACQ', 'ROLE_SHIPCUST_SHIP')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;<span
						th:text="#{shipcust.title}"></span>
					</a> <a th:href="@{/buyorders/list}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_BUYORDMANAGER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-check"></span> <span
						th:text="#{buyorders.buyorders}"></span>
					</a> <a th:href="@{/prodtosale/main}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PRODTOSALEUSER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-list-alt"></span> <span
						th:text="#{prodtosale.prodtosale}"></span>
					</a> <a th:href="@{/ordtools/main}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PRODTOSALEUSER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-screenshot"></span> <span
						th:text="#{ordtools.ordtools}"></span>
					</a> <a th:href="@{/prodcomp/main}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_COMPONENTSUSER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-check"></span> <span
						th:text="#{prodcomp.title}"></span>
					</a> <a th:href="@{/prodorigin/main}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PRODORIGINUSER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-random"></span> &nbsp;<span
						th:text="#{prodorigin.title}"></span>
					</a> <a th:href="@{/environment/dispatch}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ENVIRONMENTUSER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-tree-deciduous"></span> <span
						th:text="#{environment.environment}"></span>
					</a> <a th:href="@{/avgprices/main}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AVGPRICESUSER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-euro"></span> <span
						th:text="#{avgprices.title}"></span>
					</a> <a th:href="@{/consumption/dispatch}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CONSUMPTIONUSER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-export"></span> <span
						th:text="#{consumption.export.consumption}"></span>
					</a> <a th:href="@{/histock/main}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_HISTOCKUSER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-time"></span> <span
						th:text="#{histock.histockacv}"></span>
					</a>
					<!-- cancel -->
					<a th:if="${CANCEL_THIS}" th:href="@{/proprog/list}"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-forward"></span> <span
						th:text="#{proprog.proprog}"></span>
					</a> <a th:if="${CANCEL_THIS}" th:href="@{/tools/dispatch}"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-copy"></span> <span
						th:text="#{tools.projects}"></span>
					</a> <a th:if="${CANCEL_THIS}" th:href="@{/hrua/list}"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-user"></span> <span
						th:text="#{hrua.files}"></span>
					</a>
				</div>
			</div>
			<!-- PRODUCTION -->
			<div id="production"
				sec:authorize="hasAnyRole(
			'ROLE_ADMIN', 
			'ROLE_BHPMANAGER',
			'ROLE_BHPSUPERVISOR',
			'ROLE_BHPTICKETSUSER',
			'ROLE_BHPTICKETSUTRUSER',
			'ROLE_QSURVEYMANAGER',
			'ROLE_QSURVEYUSER',
			'ROLE_QCHECKMANAGER',
			'ROLE_QCHECKUSER',
			'ROLE_COMPREQMANAGER',
			'ROLE_UTR_NORMALUSER'
			)">
				<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
					<h3 class="text-info" th:text="#{department.production}">Panel
						With title</h3>
				</div>
				<div class="col-xs-12 margin-top-10">
					<a th:href="@{/bhptickets/dispatch}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 
						'ROLE_BHPMANAGER',
						'ROLE_BHPSUPERVISOR',
						'ROLE_BHPTICKETSUSER',
						'ROLE_BHPTICKETSUTRUSER'
						)"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-pencil"></span> <span
						th:text="#{bhp.tickets}">bhp tickets</span>
					</a> <a th:href="@{/qsurveys/dispatch}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 
						'ROLE_QSURVEYMANAGER',
						'ROLE_QSURVEYUSER'
						)"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-link"></span> <span
						th:text="#{qsurveys.title}">quality surveys</span>
					</a> <a th:href="@{/qcheck/list}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 
						'ROLE_QCHECKMANAGER',
						'ROLE_QCHECKUSER'
						)"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-resize-full"></span> <span
						th:text="#{qcheck.title}">quality surveys</span>
					</a> <a th:href="@{/compreq/list}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_COMPREQMANAGER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-saved"></span> <span
						th:text="#{compreq.title}"></span>
					</a> <a th:href="@{/utr/stats}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_UTR_NORMALUSER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-stats"></span> <span
						th:text="#{utr.stats}">bhp tickets</span>
					</a> <a th:href="@{/utr/current}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_UTR_NORMALUSER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-warning-sign"></span> <span
						th:text="#{utr.current}">bhp tickets</span>
					</a> <a th:if="${CANCEL_THIS}" th:href="@{/wakesurvey/dosurvey/1}"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-ok"></span> <span
						th:text="#{wakesurvey.title}">bhp tickets</span>
					</a>
				</div>
			</div>

			<!-- WAREHOUSE -->
			<div id="warehouse"
				sec:authorize="hasAnyRole(
			'ROLE_ADMIN', 
			'ROLE_SALESHIPUSER', 
			'ROLE_SHIPMENTSMANAGER', 
			'ROLE_MOVEMENTSUSER', 
			'ROLE_MOVEMENTSSUPERUSER', 
			'ROLE_RCPMANAGER',
			'ROLE_STOCKSUMUSER',
			'ROLE_RCPTOSALEUSER'
			)">

				<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
					<h3 class="text-info" th:text="#{department.warehouses}">Panel
						With title</h3>
				</div>
				<div class="col-xs-12 margin-top-10">
					<a th:href="@{/stocksum/dispatch}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STOCKSUMUSER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-object-align-left"></span> <span
						th:text="|#{stocksum.title}|">title</span>
					</a> <a th:href="@{/magpart/main}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STOCKSUMUSER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-object-align-left"></span> <span
						th:text="|#{magpart.title}|">title</span>
					</a> <a th:href="@{/saleship/main}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SALESHIPUSER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-share"></span> <span
						th:text="#{saleship}"></span>
					</a> <a th:href="@{/shipments/dispatch}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SHIPMENTSMANAGER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-share"></span> <span
						th:text="#{shipments}"></span>
					</a> <a th:href="@{/movements/main}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 
						'ROLE_MOVEMENTSUSER',
						'ROLE_MOVEMENTSSUPERUSER'
						)"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-sort"></span> <span
						th:text="#{movements.movements}">title</span>
					</a> <a th:href="@{/dirrcpship/main}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_RCPMANAGER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-upload"></span> <span
						th:text="#{dirrcpship.dirrcpship}">title</span>
					</a> <a th:href="@{/rcptosale/dispatch}"
						sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_RCPTOSALEUSER', 'ROLE_RCPMANAGER')"
						class="btn btn-info btn-md margin-top-5"> <span
						class="glyphicon glyphicon-upload"></span> <span
						th:text="#{rcptosale.title}">title</span>
					</a>
				</div>
			</div>

			<!-- REPORT A PROBLEM -->
			<div id="report">
				<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
					<h3 class="text-warning" th:text="#{it.maketicket}"></h3>
				</div>
				<div class="col-xs-12 margin-top-10">
					<a class="btn btn-warning btn-md margin-top-5"
						href="http://10.1.1.226/redmine/" target="_blank"> <span
						class="glyphicon glyphicon-star" style="margin-right: 2px;"></span>
						<span th:text="#{it.tickets}">CRM Manual</span>
					</a> <a class="btn btn-warning btn-md margin-top-5"
						href="http://192.168.1.23/DOCS/tickets.pdf" target="_blank"> <span
						class="glyphicon glyphicon-folder-open" style="margin-right: 5px;"></span>
						<span th:text="#{it.ticketsmanual}">CRM Manual</span>
					</a>
				</div>
			</div>

		</div>
	</div>
</body>
</html>