<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{welcome.title}" class="text-primary">Hello on a
					page</h2>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{welcome.message}"> Welcome message </span>
			</div>
		</div>
		<!-- MODULES -->
		<div class="row margin-top-20">
			<!-- HANDY LINKS -->
			<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
				<h3 class="text-primary" th:text="#{handy.links}">tickets</h3>
			</div>
			<div class="col-xs-12 margin-top-10">
				<a class="btn btn-link btn-md margin-top-5"
					th:href="@{/phones/list}"> <span
					class="glyphicon glyphicon-phone-alt" style="margin-right: 10px;"></span>
					<span th:text="#{phone.numbers}">Phone numbers</span>
				</a> <a class="btn btn-link btn-md margin-top-5"
					href="http://192.168.1.23/DOCS/company.print.adr.doc"
					target="_blank"> <span class="glyphicon glyphicon-save-file"
					style="margin-right: 10px;"></span> <span
					th:text="#{company.print.adr}">Phone numbers</span>
				</a> <a class="btn btn-link btn-md margin-top-5"
					href="http://192.168.1.23/DOCS/company.print.wps.doc"
					target="_blank"> <span class="glyphicon glyphicon-save-file"
					style="margin-right: 10px;"></span> <span
					th:text="#{company.print.wps}">Phone numbers</span>
				</a>
			</div>
			<div class="col-xs-12 margin-top-0">
				<a class="btn btn-link btn-md margin-top-5"
					href="http://192.168.1.33:8082" target="_blank"> <span
					class="glyphicon glyphicon-link" style="margin-right: 10px;"></span>
					<span th:text="|Comarch ePracownik ADR|">Phone numbers</span>
				</a> <a class="btn btn-link btn-md margin-top-5"
					href="http://192.168.1.33:8081" target="_blank"> <span
					class="glyphicon glyphicon-link" style="margin-right: 10px;"></span>
					<span th:text="|Comarch ePracownik WPS|">Phone numbers</span>
				</a> <a class="btn btn-link btn-md margin-top-5"
					href="http://192.168.1.23/DOCS/calendar.pdf" target="_blank"> <span
					class="glyphicon glyphicon-calendar" style="margin-right: 10px;"></span>
					<span th:text="#{calendar.freedays}">Phone numbers</span>
				</a>
			</div>
			<div class="col-xs-12 margin-top-0">
				<a class="btn btn-link btn-md margin-top-5"
					href="http://192.168.1.23/DOCS/trip_user.pdf" target="_blank">
					<span class="glyphicon glyphicon-plane" style="margin-right: 10px;"></span>
					<span th:text="#{trip.user}">Codification</span>
				</a> <a class="btn btn-link btn-md margin-top-5"
					href="http://192.168.1.23/DOCS/trip_manager.pdf" target="_blank">
					<span class="glyphicon glyphicon-plane" style="margin-right: 10px;"></span>
					<span th:text="#{trip.manager}">Codification</span>
				</a> <a class="btn btn-link btn-md margin-top-5"
					href="http://192.168.1.23/DOCS/trip_manage_reservations.pdf"
					target="_blank"> <span class="glyphicon glyphicon-plane"
					style="margin-right: 10px;"></span> <span
					th:text="#{trip.managereservations}">Codification</span>
				</a> <a class="btn btn-link btn-md margin-top-5"
					href="http://192.168.1.23/DOCS/trip_flow.jpg" target="_blank">
					<span class="glyphicon glyphicon-object-align-left"
					style="margin-right: 10px;"></span> <span th:text="#{trip.flow}">Codification</span>
				</a>
			</div>
			<div class="col-xs-12 margin-top-0">
				<a class="btn btn-link btn-md margin-top-5"
					href="http://192.168.1.23/DOCS/codifica.pdf" target="_blank"> <span
					class="glyphicon glyphicon-info-sign" style="margin-right: 10px;"></span>
					<span th:text="#{clients.codification}">Codification</span>
				</a> <a class="btn btn-link btn-md margin-top-5"
					href="http://192.168.1.23/DOCS/passchange.pdf" target="_blank">
					<span class="glyphicon glyphicon-info-sign"
					style="margin-right: 10px;"></span> <span
					th:text="#{password.manual}">Phone numbers</span>
				</a>

			</div>
			<!-- REPORT A PROBLEM -->
			<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
				<h3 class="text-warning" th:text="#{it.maketicket}">Panel With
					title</h3>
			</div>
			<div class="col-xs-12 margin-top-10">
				<a class="btn btn-warning btn-md margin-top-5"
					href="http://10.1.1.226/redmine/" target="_blank"> <span
					class="glyphicon glyphicon-star" style="margin-right: 5px;"></span>
					<span th:text="#{it.tickets}">CRM Manual</span>
				</a> <a class="btn btn-warning btn-md margin-top-5"
					href="http://192.168.1.23/DOCS/tickets.pdf" target="_blank"> <span
					class="glyphicon glyphicon-folder-open" style="margin-right: 10px;"></span>
					<span th:text="#{it.ticketsmanual}">CRM Manual</span>
				</a>
			</div>
			<!-- ADMIN -->
			<div id="adminOnly"
				sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_ADMIN')">
				<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
					<h3 class="text-danger" th:text="#{department.it}">Panel With
						title</h3>
				</div>
				<div class="col-xs-12 margin-top-10">
					<a th:href="@{/users/list/active}"
						class="btn btn-danger btn-md margin-top-5"> <span
						class="glyphicon glyphicon-user"></span> <span
						th:text="#{users.management}">users management</span>
					</a> <a th:href="@{/users/monitor}"
						class="btn btn-danger btn-md margin-top-5"> <span
						class="glyphicon glyphicon-globe"></span> <span
						th:text="#{session.monitor}">users management</span>
					</a> <a href="https://firewall.atwsystem.pl/" target="_blank"
						class="btn btn-danger btn-md margin-top-5"> <span
						class="glyphicon glyphicon-signal"></span> <span
						th:text="|Firewall|">fire wall</span>
					</a>
				</div>
			</div>
			<!-- OFFICE -->
			<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
				<h3 class="text-info" th:text="#{department.offices}">Panel
					With title</h3>
			</div>
			<div class="col-xs-12 margin-top-10">
				<a th:href="@{/proprog/list}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-forward"></span> <span
					th:text="#{proprog.proprog}"></span>
				</a> <a th:href="@{/tools/dispatch}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-copy"></span> <span
					th:text="#{tools.projects}"></span>
				</a> <a th:href="@{/buyorders/list}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-check"></span> <span
					th:text="#{buyorders.buyorders}"></span>
				</a> 
				<a th:href="@{/prodtosale/main}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-list-alt"></span> <span
					th:text="#{prodtosale.prodtosale}"></span>
				</a> 
				<a th:href="@{/ordtools/main}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-list-alt"></span> <span
					th:text="#{ordtools.ordtools}"></span>
				</a> 
				<a th:href="@{/hrua/list}" class="btn btn-info btn-md margin-top-5">
					<span class="glyphicon glyphicon-user"></span> <span
					th:text="#{hrua.files}"></span>
				</a> <a th:href="@{/consumption/dispatch}"
					class="btn btn-info btn-md margin-top-5">
					<span class="glyphicon glyphicon-export"></span> <span
					th:text="#{consumption.consumptionacv}">consumption</span>
				</a>
			</div>
			<!-- PRODUCTION -->
			<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
				<h3 class="text-info" th:text="#{department.production}">Panel
					With title</h3>
			</div>
			<div class="col-xs-12 margin-top-10">
				<a th:href="@{/nameplates/list}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-list"></span> <span
					th:text="#{nameplates.rfid.log}">RFID Log</span>
				</a> <a th:href="@{/weldlog/list}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-list"></span> <span
					th:text="#{weldlog.title}">Weldlog Log</span>
				</a> <a th:href="@{/bhptickets/dispatch}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-pencil"></span> <span
					th:text="#{bhp.tickets}">bhp tickets</span>
				</a> <a th:href="@{/utr/stats}" class="btn btn-info btn-md margin-top-5">
					<span class="glyphicon glyphicon-stats"></span> <span
					th:text="#{utr.stats}">bhp tickets</span>
				</a> <a th:href="@{/utr/current}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-warning-sign"></span> <span
					th:text="#{utr.current}">bhp tickets</span>
				</a> <a th:href="@{/qualitysurveys/dispatch}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-link"></span> <span
					th:text="#{quality.surveys}">quality surveys</span>
				</a> <a th:href="@{/wakesurvey/dosurvey/1}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-pencil"></span> <span
					th:text="#{wakesurvey.title}">bhp tickets</span>
				</a>
			</div>
			<!-- WAREHOUSE -->
			<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
				<h3 class="text-info" th:text="#{department.warehouses}">Panel
					With title</h3>
			</div>
			<div class="col-xs-12 margin-top-10">
				<a th:href="@{/geolook/map}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-th"></span> <span
					th:text="#{geolook.warehouses.map}">title</span>
				</a> <a th:href="@{/geolook/search}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-search"></span> <span
					th:text="#{geolook.warehouses.lookup}">title</span>
				</a> <a th:href="@{/inventory/list}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-indent-left"></span> <span
					th:text="#{inventory.inventory}">title</span>
				</a> <a th:href="@{/movements/main}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-sort"></span> <span
					th:text="#{movements.movements}">title</span>
				</a> <a th:href="@{/dirrcpship/main}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-upload"></span> <span
					th:text="#{dirrcpship.dirrcpship}">title</span>
				</a>
			</div>
			<!-- WAREHOUSE WPS -->
			<div class="col-xs-12" style="border-bottom: 1px solid #E0E0E0;">
				<h3 class="text-info" th:text="#{department.wps.warehouses}">Panel
					With title</h3>
			</div>
			<div class="col-xs-12 margin-top-10">
				<a th:href="@{/wpslook/search}"
					class="btn btn-info btn-md margin-top-5"> <span
					class="glyphicon glyphicon-search"></span> <span
					th:text="#{wpslook.warehouses.lookup}">WPS Lookup</span>
				</a>
			</div>
		</div>
	</div>
</body>
</html>