<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script">

	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0">
				<h2 th:text="#{wpslook.title}" class="text-primary">Hello on a
					page</h2>
				
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-justify margin-top-10">
				<span th:text="#{wpslook.message}"> Welcome message </span>
			</div>
		</div>

		<form th:action="@{/wpslook/search}" method="post"
			th:object="${wpsSearchForm}">
			<div class="row margin-top-20">
				<div class="col-xs-4 col-sm-4">
					<div class="form-group">
						<label for="product" th:text="#{wpslook.product}">Product</label>
						<input type="text" class="form-control" id="product"
							name="product" th:placeholder="#{wpslook.product}"
							th:field="*{product}" />
						<div th:errors="*{product}"
							class="alert alert-danger margin-top-5">error</div>
					</div>
				</div>
			</div>
			<div class="row margin-top-5">
				<div class="col-xs-12">
					<a th:href="@{/}" class="btn btn-link btn-sm"> <span
						class="glyphicon glyphicon-menu-left"></span> <span
						th:text="#{action.back}">back</span>
					</a>
					<button class="btn btn-primary btn-sm" type="submit" name="save">
						<span class="glyphicon glyphicon-search"></span> <span
							th:text="#{action.search}">search</span>
					</button>
				</div>
			</div>
		</form>

		<!-- if div -->
		<div th:if="${itemCode!=null}">
			<!-- PRODUCT CODE AND DESCRIPTION -->
			<div class="row margin-top-20" style="border-bottom: 1px solid #EFEFEF;">
				<div class="col-xs-12 col-xs-offset-0 margin-top-5">
					<h2 th:text="${itemCode}"></h2>
					<h4 th:text="${itemDescription}"></h4>
				</div>
			</div>
			<!-- NOTHING FOUND -->
			<div class="row margin-top-20" th:if="${#lists.isEmpty(wpsList)}">
			<div class="col-xs-12 col-xs-offset-0 alert alert-warning margin-top-5">
				<span th:text="#{wpslook.product.not.found.in.store}"></span>
			</div>
			</div>
			<!-- LOCATIONS OF PRODUCT(S) -->
			<div class="row margin-top-20" th:if="${!#lists.isEmpty(wpsList)}">
				<div class="col-xs-12 col-xs-offset-0">
					<div class="table-responsive">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th th:text="#{wpslook.code}">cell title</th>
									<th th:text="#{wpslook.address}">cell title</th>
									<th th:text="#{wpslook.quantity}">cell title</th>
									<th th:text="#{wpslook.unit}">cell title</th>
									<!-- <th th:text="#{wpslook.last.input.date}">cell title</th>  -->
									<!-- <th th:text="#{wpslook.last.output.date}">cell title</th>  -->
									<th th:text="#{wpslook.chrono.number}">cell title</th>
									
								</tr>
							</thead>
							<tr th:each="obj : ${wpsList}">							
								<td style="padding: 5px;" th:text="${obj.product}"></td>
								<td style="padding: 5px;" th:text="${obj.address}"></td>
								<td style="padding: 5px;" th:text="${obj.quantity}"></td>
								<td style="padding: 5px;" th:text="${obj.unit}"></td>
								<!--
								<td style="padding: 5px;" >
								<span 
									th:if="${obj.lastInputDate}" 
									th:text="${#dates.format(obj.lastInputDate, 'dd.MM.yyyy')}">
								</span>
								</td>
								 -->
								 <!--
								<td style="padding: 5px;" >
								<span 
									th:if="${obj.lastOutputDate}"
									th:text="${#dates.format(obj.lastOutputDate, 'dd.MM.yyyy')}" >
								</span>
								</td>
								-->
								<td style="padding: 5px;" th:text="${obj.chronoNumber}"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /if div -->
	</div>
</body>
</html>