<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
<div layout:fragment="script">
	<!-- SELECTIZE JS -->
	<script th:src="@{/selectize/js/selectize.min.js}" type="text/javascript"></script>
	<script>
		$('#x3users').selectize();
	</script>
</div>
	<div layout:fragment="content">
		<select id="x3users">
			<option th:each="obj,stat : ${result}" th:value="${result[stat.index]}" th:text="${result[stat.index]}">
			X3 User
			</option>
		</select>
	</div>
</body>
</html>