<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
<div layout:fragment="script">
	<!-- SELECTIZE JS -->
	<script th:src="@{/selectize/js/selectize.min.js}" type="text/javascript"></script>
	<script>
		$('#x3users').selectize();
		$('#optimausers').selectize();
	</script>
</div>
	<div layout:fragment="content">
	<h3>Optima Users</h3>
		<select id="optimausers">
			<option th:each="obj,stat : ${resultOptima}" th:value="${resultOptima[stat.index]}" th:text="${resultOptima[stat.index]}">
			X3 User
			</option>
		</select>
		<h3>X3 Users</h3>
		<select id="x3users">
			<option th:each="obj,stat : ${resultX3}" th:value="${resultX3[stat.index]}" th:text="${resultX3[stat.index]}">
			X3 User
			</option>
		</select>
		
		
		
		<h3>Where is 836004?</h3>
		<table id="geodeList">
		<tr th:each="obj : ${geodeList}">
			<td style="padding: 5px;" th:text="${obj.ITM_0}"></td>
			<td style="padding: 5px;" th:text="${obj.STO_0}"></td>
			<td style="padding: 5px;" th:text="${obj.ADD_0}"></td>
		</tr>
		</table>

	</div>
</body>
</html>