<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="script">
		<!-- SELECTIZE JS -->
		<script th:src="@{/selectize/js/selectize.min.js}"
			type="text/javascript"></script>
		<script>
			$('#list').selectize();
			
		</script>
	</div>
	<div layout:fragment="content">
		<h3>list</h3>
		<select id="list">
			<option th:each="obj,stat : ${list}"
				th:value="${stat.index}" th:text="${list[stat.index]}">
				X3 User</option>
		</select>

	</div>
</body>
</html>