<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
</head>
<body>
	<div class="section no-pad-bot" layout:fragment="content">
		<div class="container">
			<div class="row margin-top-60 margin-bottom-60">
				<div
					class="
				col-xs-12 col-xs-offset-0 
				col-sm-9 col-sm-offset-1 
				col-md-7 col-md-offset-2 
				col-lg-6 col-lg-offset-3
				"
					style="border: 1px solid #CDCDCD;">
					<h2 class="text-primary" th:text="#{login.title}"
						style="border-bottom: 1px solid #CDCDCD">Logowanie</h2>
					<div class="row margin-top-10">
						<div class="col-xs-12">
							<div id="errorMessage" class="bg-danger text-danger text-center"
								th:if="${param.error}">
								<span th:text="#{login.error}"> incorrect login or
									password</span><br /> <a th:href="@{/contact}" class="text-danger"><span
									th:text="|#{navi.help} > #{faq.q.userlogin}|"></span></a>
							</div>
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-xs-12">
							<form th:action="@{/login}" method="post">
								<div class="form-group">
									<label for="name" th:text="#{login.username}">Username</label>
									<input type="text" class="form-control" id="username"
										name="username" th:placeholder="#{login.username}" />
								</div>
								<div class="form-group">
									<label for="pass" th:text="#{login.password}">Password</label>
									<input type="password" class="form-control" id="password"
										name="password" th:placeholder="#{login.password}" />
								</div>
								<div class="checkbox pull-left">
									<label> <input id="remember-me" name="remember-me"
										type="checkbox" /> <span
										th:text="|#{login.remember.me} (#{login.remember.7.days})|">Remember
											me</span>
									</label>
								</div>
								<button type="submit" name="action"
									class="btn btn-primary pull-right">
									<span th:text="#{action.login}"></span>
								</button>
							</form>
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-xs-12 margin-bottom-20" style="text-align: right;">
							<a th:href="@{/readcard}" class="text-primary"> <span
								class="glyphicon glyphicon-chevron-right"></span> <span
								th:text="#{action.login.rcp}"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
