<!DOCTYPE HTML>
	<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
</head>
<body>
	<div class="section no-pad-bot" layout:fragment="content">
		<div class="container">
			<h2 th:text="#{login.title}">Logowanie</h2>
			<p th:text="#{login.message}">Enter login and password</p>
			<div class="row">
				<div id="errorMessage" class="bg-danger"
					th:if="${param.error}">
					<span th:text="#{login.error}">
						incorrect login or password</span>
				</div>

				<form th:action="@{/login}" method="post">
					<div class="form-group">
						<label for="name" th:text="#{login.username}">Username</label> 
						<input type="text" class="form-control" id="username" name="username" />
					</div>
					<div class="form-group">
						<label for="pass" th:text="#{login.password}">Password</label> <input
							type="password" class="form-control" id="password" name="password"/>
					</div>
					<div class="checkbox">
						<label> <input id="remember-me" name="remember-me"
							type="checkbox" /> <span
							th:text="|#{login.remember.me} (#{login.remember.7.days})|">Remember
								me</span>
						</label>
					</div>
					<button type="submit" name="action" class="btn btn-default">
						<span th:text="#{action.login}"></span>
					</button>
				</form>
				
				</div>
		</div>
	</div>
</body>
</html>
