<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head lang="pl">
</head>
<body>
	<div layout:fragment="content">
		<!-- available: $timestamp, $status, $error, $message  -->
			<h2 th:text="#{noaccess.title}" class="orange-text text-darken-3">Access Denied</h2>			
			<span th:text="#{noaccess.message}">You don't have permission</span>
			<br/>
			<img th:src="@{/images/topsecret.jpg}"></img>
	</div>
</body>
</html>